# https://github.com/searxng/searxng-docker
# https://blog.ktz.me/replacing-google-with-searxng-as-the-default-in-chrome/
# https://docs.searxng.org/admin/installation-docker.html

services:
  searxng:
    container_name: searxng
    # https://hub.docker.com/r/searxng/searxng/tags
    image: searxng/searxng:2024.11.15-4b57bc3db
    restart: unless-stopped
    ports:
      - 8080:8080
    volumes:
      - ./searxng:/etc/searxng:rw
    environment:
      - SEARXNG_BASE_URL=https://search.your.domain.com/
      # - 'BASE_URL=http://localhost:8080/'
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - SETGID
      - SETUID
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

  redis:
    container_name: redis
    # https://hub.docker.com/r/valkey/valkey/tags
    image: docker.io/valkey/valkey:8-alpine
    command: valkey-server --save 30 1 --loglevel warning
    restart: unless-stopped
    volumes:
      - valkey-data2:/data
    cap_drop:
      - ALL
    cap_add:
      - SETGID
      - SETUID
      - DAC_OVERRIDE
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"

volumes:
  valkey-data2:
