---
# Forgejo Rootless Playbook
# Use -t deploy to deploy services
# Use -t backup to perform backups
# Use -t restore to restore from backups
# Use -t upgrade to check for and apply upgrades

- name: Ensure Docker is installed and running
  hosts: all
  become: true
  gather_facts: true
  tags: [never, deploy]
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          - "{{ ansible_user }}"

- name: Deploy Forgejo Rootless services
  hosts: all
  gather_facts: true
  tags: [never, deploy]
  roles:
    - role: common
      vars:
        operation_mode: deploy
    
- name: Backup Forgejo Rootless services
  hosts: all
  gather_facts: true
  tags: [never, backup]
  # https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_error_handling.html#handlers-and-failure
  # Ensure handlers are executed even if a task fails
  force_handlers: true
  roles:
    - role: common
      vars:
        operation_mode: backup

- name: Restore Forgejo Rootless services
  hosts: all
  gather_facts: true
  tags: [never, restore]
  force_handlers: true
  roles:
    - role: common
      vars:
        operation_mode: restore

- name: Upgrade Forgejo Rootless services
  hosts: all
  gather_facts: true
  tags: [never, upgrade]
  force_handlers: true
  roles:
    - role: common
      vars:
        operation_mode: upgrade

- name: Create test repositories in Forgejo
  hosts: all
  gather_facts: true
  tags: [never, create_repo]
  roles:
    - role: common
      vars:
        operation_mode: create_repo