---
# Forgejo Rootless Playbook
# Use -t deploy to deploy services
# Use -t backup to perform backups

- name: Ensure Docker is installed and running
  hosts: all
  become: true
  gather_facts: true
  tags: [never, deploy]
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          - "{{ ansible_user }}"

- name: Deploy Forgejo Rootless services
  hosts: all
  gather_facts: true
  tags: [never, deploy]
  roles:
    - role: common
    
- name: Backup Forgejo Rootless services
  hosts: all
  gather_facts: true
  tags: [never, backup]
  # https://docs.ansible.com/ansible/latest/playbook_guide/playbooks_error_handling.html#handlers-and-failure
  force_handlers: true
  tasks:
    - name: Include backup tasks
      ansible.builtin.include_role:
        name: common
        tasks_from: backup.yml
      vars:
        update_mode: false