---
- name: Ensure Docker is installed and running
  hosts: all
  become: true
  gather_facts: true
  tags: [never, deploy]
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          - "{{ ansible_user }}"

- name: Setup Docker macvlan network
  hosts: all
  become: true
  gather_facts: true
  roles:
    - role: common