---
- name: Ensure Docker is installed and Configures Docker macvlan
  hosts: all
  become: true
  gather_facts: true
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          - "{{ ansible_user }}"

    - role: common