<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.beszel.agent</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>LISTEN=45876 KEY="{{ beszel_public_key }}" /usr/local/bin/beszel-agent</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>

    <dict>
        <!-- Prevent excessive restarts -->
        <key>SuccessfulExit</key>
        <false/>
        <key>ThrottleInterval</key>
        <integer>60</integer> <!-- Minimum 60 seconds between restarts -->
    </dict>

    <key>StandardErrorPath</key>
    <string>/var/log/beszel-agent/error.txt</string>
    <key>StandardOutPath</key>
    <string>/var/log/beszel-agent/log.txt</string>

    <!-- Lower the agent's process priority -->
    <key>Nice</key>
    <integer>10</integer>
</dict>
</plist>