# A Sample Teleport configuration file.
#
# Things to update:
#  1. license.pem: Retrieve a license from your Teleport account https://teleport.sh
#     if you are an Enterprise customer.
#
# NOTE:
# https://github.com/gravitational/teleport/discussions/30001
# https://github.com/gravitational/teleport/issues/30493

version: v3
teleport:
  nodename: homelab
  data_dir: /var/lib/teleport
  log:
    output: stderr
    severity: INFO
    format:
      output: text
  ca_pin: ""
  diag_addr: ""

auth_service:
  enabled: "yes"
  listen_addr: 0.0.0.0:3025
  cluster_name: isekaijitaku.rip
  proxy_listener_mode: multiplex
  # NOTE: enable passwordless
  # https://www.youtube.com/watch?v=I10mtZfVZ1Q
  # https://goteleport.com/docs/access-controls/guides/passwordless/#optional-enable-passwordless-by-default
  # NOTE: yubikey installation
  # https://github.com/Yubico/libfido2?tab=readme-ov-file#dependencies
  # https://support.yubico.com/hc/en-us/articles/360013708900-Using-Your-YubiKey-with-Linux
  # NOTE: WSL usb passthrough 
  # https://learn.microsoft.com/en-us/windows/wsl/connect-usb
  # https://1-bit-wonder.github.io/blog/how-to-use-yubikey-with-wsl/How%20to%20use%20Yubikey%20with%20WSL%20via%20USB%20passthrough/
  authentication:
    type: local
    second_factor: on
    webauthn:
      rp_id: "isekaijitaku.rip"
    connector_name: passwordless

ssh_service:
  enabled: "no"

proxy_service:
  enabled: "yes"
  # listen_addr: 0.0.0.0:3080
  web_listen_addr: 0.0.0.0:3080
  public_addr: isekaijitaku.rip:443
  https_keypairs: []
  https_keypairs_reload_interval: 0s
  acme: {}

app_service:
  enabled: yes
  # Teleport provides a small debug app called "dumper" that can be used
  # to make sure application access is working correctly. It outputs JWTs,
  #  so it can be useful when extending your application.
  debug_app: true
  # This section contains definitions of all applications proxied by this
  # service. It can contain multiple items.
  apps:
    - name: "proxmox"
      uri: "https://192.168.1.12:8006"
      public_addr: "proxmox.isekaijitaku.rip"
      insecure_skip_verify: true

      # NOTE: because cockpit-tls causes 100% CPU usage
      # Skip tls and use http instead, also need to configure cockpit to accept http
    # - name: "fileserver-cockpit"
    #   uri: "http://192.168.1.x:9090"
    #   public_addr: "fileserveradmin.isekaijitaku.rip"
    #   insecure_skip_verify: true

    - name: "nginx-proxy-manager"
      uri: "http://10.10.10.6:81"
      public_addr: "gateway.isekaijitaku.rip"
      insecure_skip_verify: true

    # - name: "headscale-admin"
    #   uri: "http://headscale-admin:80/admin"
    #   public_addr: "tailscale.isekaijitaku.rip"
    #   insecure_skip_verify: true
    #   rewrite:
    #     headers:
    #       - "Host: tailscale.isekaijitaku.rip"
    #       - "Origin: https://tailscale.isekaijitaku.rip"

    - name: "vaultwarden-admin"
      uri: "http://10.10.10.34:80/admin"
      public_addr: "vaultwarden.isekaijitaku.rip"
      insecure_skip_verify: true

    - name: "isprouter"
      uri: "https://192.168.1.1"
      public_addr: "isprouter.isekaijitaku.rip"
      insecure_skip_verify: true

    - name: "openwrt"
      uri: "http://10.10.10.1:80"
      public_addr: "openwrt.isekaijitaku.rip"
      insecure_skip_verify: true

    - name: "adguardhome"
      uri: "http://10.10.10.10:80"
      public_addr: "adguardhome.isekaijitaku.rip"
      insecure_skip_verify: true

    # Docker Manager
    - name: "portainer"
      uri: "https://10.10.10.3:9443"
      public_addr: "portainer.isekaijitaku.rip"
      insecure_skip_verify: true

    # Mail Server
    - name: "stalwart"
      uri: "https://stalwart:443"
      public_addr: "stalwart.isekaijitaku.rip"
      insecure_skip_verify: true
      rewrite:
        headers:
          - "Host: stalwart.isekaijitaku.rip"
          - "Origin: https://stalwart.isekaijitaku.rip"

    # region Monitors
    - name: "netdata"
      uri: "http://netdata:19999"
      public_addr: "netdata.isekaijitaku.rip"
      insecure_skip_verify: true

    - name: "goaccess"
      uri: "http://10.10.10.7:7880"
      public_addr: "goaccess.isekaijitaku.rip"
      insecure_skip_verify: true

    - name: "uptime-kuma"
      uri: "http://uptime-kuma:3001"
      public_addr: "uptimekuma.isekaijitaku.rip"
      insecure_skip_verify: true
    # endregion Monitors
