docker-composes/**/nginx-proxy-manager/data
docker-composes/**/nginx-proxy-manager/letsencrypt
docker-composes/**/wazuh/single-node/wazuh_indexer_ssl_certs
docker-composes/**/wazuh/single-node/wazuh-agent.deb

# Ignore local development files
**/.vscode
**/.DS_Store

# Docker Secrets, Environment Files
**/secret.*
**/.env

# Ignore test files
**/tests
