services:
  # https://forgejo.org/docs/next/admin/installation-docker/#hosting-repository-data-on-remote-storage-systems
  forgejo:
    # https://codeberg.org/forgejo/-/packages/container/forgejo/versions
    image: codeberg.org/forgejo/forgejo:9.0.3-rootless
    container_name: forgejo
    environment:
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=forgejo-db:5432
      - FORGEJO__database__NAME=forgejo
      - FORGEJO__database__USER=forgejo
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      # NOTE: make sure ./data and ./conf folders are exists and changed to 1000:1000 before starting
      - ./data:/var/lib/gitea
      - ./conf:/var/lib/gitea/custom/conf
    # ports:
    #   - "3000:3000"
    #   - "2222:2222/tcp" # SSH
    depends_on:
      forgejo-db:
        condition: service_healthy
        restart: true
      # forgejo-mountcheck:
      #   condition: service_healthy
      #   restart: true
    restart: always
    networks:
      - forgejo
      - runner
      - proxy
    labels:
      - "traefik.enable=true"
      # NOTE: specific docker network for Traefik to use
      # https://doc.traefik.io/traefik/providers/docker/#network
      - "traefik.docker.network=proxy"
      - "traefik.http.services.forgejo.loadbalancer.server.port=3000"
      - "traefik.http.routers.forgejo-local.entrypoints=websecure"
      - "traefik.http.routers.forgejo-local.service=forgejo"
      - "traefik.http.routers.forgejo-local.rule=Host(`forgejo.yourdomain.local`)"
      # NOTE: solve git client certificate issue on Windows
      # https://github.com/desktop/desktop/issues/9293#issuecomment-607357181
      - "traefik.http.routers.forgejo-local.tls.certresolver=stepca"
      # forgejo-ssh
      # NOTE: ssh doesn't support TLS natively, so we need define ssh service by providing it's own port
      # https://community.traefik.io/t/ssh-proxy-from-traefik-to-lxc/608
      - "traefik.tcp.services.forgejo-ssh.loadbalancer.server.port=2222"
      - "traefik.tcp.routers.forgejo-ssh.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.forgejo-ssh.service=forgejo-ssh"
      - "traefik.tcp.routers.forgejo-ssh.entrypoints=forgejo-ssh"
      
  forgejo-docker-dind:
    # https://hub.docker.com/_/docker/tags?name=dind
    image: docker:27.4.1-dind-alpine3.21
    container_name: 'docker_dind'
    hostname: docker  # Must set hostname as TLS certificates are only valid for docker or localhost
    privileged: 'true'
    environment:
      DOCKER_TLS_CERTDIR: /certs
    volumes:
      - docker_certs:/certs
      - docker_certs_client:/certs/client
      # https://hub.docker.com/_/docker
      - ./docker:/var/lib/docker
    networks:
      - runner
    restart: always

  forgejo-runner:
    # https://code.forgejo.org/forgejo/-/packages/container/runner/versions
    image: 'code.forgejo.org/forgejo/runner:5.0.4'
    container_name: 'forgejo-runner'
    depends_on:
      forgejo-docker-dind:
        condition: service_started
        restart: true
    environment:
      DOCKER_HOST: tcp://docker:2376
      DOCKER_CERT_PATH: /certs/client
      DOCKER_TLS_VERIFY: 1
    # User without root privileges, but with access to `./data`.
    # NOTE: labels "docker:docker://node:20-bullseye,ubuntu-22.04:docker://node:20-bullseye,ubuntu-20.04:docker://node:20-bookworm,ubuntu-18.04:docker://node:20-bookworm"
    user: 1000:1000
    volumes:
      - docker_certs_client:/certs/client:ro
      - ./runner:/data
    networks:
      - runner
    restart: always
    # NOTE: use command instead of entrypoint to avoid docker execute command when using `docker compose run`
    command: 'bash -c "while : ; do test -w .runner && forgejo-runner --config config.yml daemon ; sleep 1 ; done"'

  # https://hub.docker.com/_/postgres
  forgejo-db:
    container_name: forgejo-db
    # https://hub.docker.com/_/postgres/tags
    image: postgres:16.6-alpine3.21
    # depends_on:
    #   forgejo-mountcheck:
    #     condition: service_healthy
    #     restart: true
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
      - POSTGRES_USER=forgejo
      - POSTGRES_DB=forgejo
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - forgejo
    secrets:
      - db_password
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "forgejo", "-U", "forgejo" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: always
  
  # forgejo-mountcheck:
  #   container_name: forgejo-mountcheck
  #   # https://hub.docker.com/_/bash/tags
  #   image: bash:5.2.37-alpine3.21
  #   entrypoint: bash /mountcheck.sh
  #   volumes:
  #     - /mount/point1:/mnt/point1:ro
  #     - /mount/point2:/mnt/point2:ro
  #     - /mount/point3:/mnt/point3:ro
  #     - ./mountcheck/mountcheck.sh:/mountcheck.sh:ro
  #     - ./mountcheck/healthcheck.sh:/healthcheck.sh:ro
  #   healthcheck:
  #     test: ["CMD", "/usr/local/bin/bash", "/healthcheck.sh"]
  #     interval: 10s
  #     timeout: 10s
  #     retries: 3
  #   restart: always
  #   user: nobody
  #   read_only: true
  #   security_opt:
  #     - no-new-privileges:true

networks:
  forgejo:
    driver: bridge
  runner:
    driver: bridge
  proxy:
    external: true

secrets:
  db_password:
    file: ./secrets/db_password

volumes:
  docker_certs:
    driver: local
  docker_certs_client:
    driver: local