# https://forgejo.org/docs/next/admin/installation-docker/#postgresql-database

services:
  server:
    # https://codeberg.org/forgejo/-/packages/container/forgejo/versions
    image: codeberg.org/forgejo/forgejo:9.0.1
    container_name: forgejo
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - FORGEJO__database__DB_TYPE=postgres
      - FORGEJO__database__HOST=forgejo-db:5432
      - FORGEJO__database__NAME=forgejo
      - FORGEJO__database__USER=forgejo
      # NOTE: can be set up on admin page
      # - FORGEJO__database__PASSWD=forgejo
    restart: unless-stopped
    volumes:
      - ./forgejo:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3000:3000"
      - "222:22"
    depends_on:
        forgejo-db:
          condition: service_healthy
    networks:
      - forgejo
      - proxy
    labels:
      - "traefik.enable=true"
      # NOTE: specific docker network for Traefik to use
      # https://doc.traefik.io/traefik/providers/docker/#network
      - "traefik.docker.network=proxy"
      - "traefik.http.services.forgejo.loadbalancer.server.port=3000"
      - "traefik.http.routers.forgejo-local.entrypoints=websecure"
      - "traefik.http.routers.forgejo-local.rule=Host(`forgejo.yourdomain.local`)"
      # NOTE: solve git client certificate issue on Windows
      # https://github.com/desktop/desktop/issues/9293#issuecomment-607357181
      - "traefik.http.routers.forgejo-local.tls.certresolver=stepca"

  # https://hub.docker.com/_/postgres
  forgejo-db:
    container_name: forgejo-db
    # https://hub.docker.com/_/postgres/tags
    image: postgres:16.6-alpine3.20
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
      - POSTGRES_USER=forgejo
      - POSTGRES_DB=forgejo
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - forgejo
    secrets:
      - db_password
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

networks:
  forgejo:
    driver: bridge
  proxy:
    external: true

secrets:
  db_password:
    file: ./secrets/db_password
