# Test container to verify rootless folder structure
services:
  forgejo-test:
    image: codeberg.org/forgejo/forgejo:9.0.3-rootless
    container_name: forgejo-test
    volumes:
      - ./test/data:/var/lib/gitea
      - ./test/conf:/var/lib/gitea/custom/conf
    # ports:
    #   - "3000:3000"
    #   - "2223:2222"  # SSH port
    labels:
      - "traefik.enable=true"
      # NOTE: specific docker network for Traefik to use
      # https://doc.traefik.io/traefik/providers/docker/#network
      - "traefik.docker.network=proxy"
      - "traefik.http.services.forgejo.loadbalancer.server.port=3000"
      - "traefik.http.routers.forgejo-local.entrypoints=websecure"
      - "traefik.http.routers.forgejo-local.rule=Host(`forgejo-test.yourdomain.local`)"
      # NOTE: solve git client certificate issue on Windows
      # https://github.com/desktop/desktop/issues/9293#issuecomment-607357181
      - "traefik.http.routers.forgejo-local.tls.certresolver=stepca"
      
networks:
  proxy:
    external: true