---
- name: Verify kopia variables are defined
  ansible.builtin.assert:
    that:
      - kopia_forgejo_backup_dir is defined
      - kopia_repo_password is defined
    fail_msg: "Required variable kopia_forgejo_backup_dir or kopia_repo_password is not defined. Please specify the path to the backup directory or the repository password."

- name: Setup kopia project source path
  ansible.builtin.set_fact:
    kopia_project_src: "{{ kopia_project_src|default(ansible_user_dir + '/Docker/kopia') }}"

- name: Check services status
  vars:
    files_list:
      - { id: "docker_compose",   path: "{{ kopia_project_src }}/docker-compose.yml",   name: "Docker Compose File" }
    project_src: "{{ kopia_project_src }}"
    project_name: "kopia"
  ansible.builtin.include_tasks: check.yml
  
- name: Set verify kopia container exists fact
  ansible.builtin.set_fact:
    kopia_container_exists: "{{ check_result.services | selectattr('service', 'equalto', 'kopia') | list | length > 0 }}"
    
- name: Run kopia create forgejo backup snapshot
  community.docker.docker_compose_v2_exec:
    project_src: "{{ kopia_project_src }}"
    service: kopia
    command: kopia snapshot create {{ kopia_service_backup_dir }} --password {{ kopia_repo_password }}
  register: kopia_snapshot_result
  when: kopia_container_exists