# https://github.com/louislam/uptime-kuma/wiki

services:
  uptime-kuma:
    # https://hub.docker.com/r/louislam/uptime-kuma/tags
    image: louislam/uptime-kuma:1.23.16-alpine
    container_name: uptime-kuma
    environment:
      # NOTE: add self hosted step-ca root CA
      # https://github.com/louislam/uptime-kuma/issues/3506#issuecomment-1714933483
      - NODE_EXTRA_CA_CERTS=/certs/step-ca/root_ca.crt
    volumes:
      - /path/to/step/certs/root_ca.crt:/certs/step-ca/root_ca.crt:ro
      - ./uptime-kuma/data:/app/data
      # https://github.com/louislam/uptime-kuma/wiki/How-to-Monitor-Docker-Containers
      - /var/run/docker.sock:/var/run/docker.sock:ro
    # ports:
    #   - 3001:3001 # <Host Port>:<Container Port>
    restart: unless-stopped
    networks:
      - proxy
    dns:
      # DNS server IP address
      - 192.168.x.y
      - 1.1.1.1
      - 1.0.0.2
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.uptime-kuma.loadbalancer.server.port=3001"
      - "traefik.http.routers.uptime-kuma-local.rule=Host(`uptime-kuma.yourdomain.local`)"
      - "traefik.http.routers.uptime-kuma-local.entrypoints=websecure"
      - "traefik.http.routers.uptime-kuma-local.tls.certresolver=stepca"

networks:
  proxy:
    external: true