[Unit]
Description=Check external drives mount status

[Service]
Type=oneshot
ExecStart=/usr/local/bin/check-external-drives-mounted.sh

[Install]
WantedBy=multi-user.target