services:
  # https://tailscale.com/kb/1282/docker#code-examples
  adguardhome-tailscale:
    # https://hub.docker.com/r/tailscale/tailscale/tags
    image: tailscale/tailscale:v1.82.0
    container_name: adguardhome-tailscale
    # hostname: Docker-Tailscale
    environment:
      # NOTE: parameters: https://tailscale.com/kb/1282/docker#parameters
      TS_AUTHKEY: ${TS_AUTHKEY}
      TS_EXTRA_ARGS: "--accept-dns=false --advertise-tags=tag:container --reset"
      # TS_EXTRA_ARGS: "--advertise-tags=tag:container --reset"
      TS_STATE_DIR: "/var/lib/tailscale"
      TS_USERSPACE: false
    cap_add:
      - net_admin
      - sys_module
    volumes:
      - ./tailscale/state:/var/lib/tailscale
    # NOTE: latest containerd version >=v1.7.24
    # https://github.com/tailscale/tailscale/issues/14256#issuecomment-2509791148
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      proxy:
      dns:
        ipv4_address: 172.20.0.10
      adguardhome-macvlan:
        ipv4_address: 192.168.x.y  # Change this to your preferred DNS IP
    labels:
      - "traefik.enable=true"
      # NOTE: specific docker network for Traefik to use
      # https://doc.traefik.io/traefik/providers/docker/#network
      - "traefik.docker.network=proxy"
      - "traefik.http.services.adguardhome.loadbalancer.server.port=80"
      - "traefik.http.routers.adguardhome-local.rule=Host(`adguardhome.yourdomain.local`)"
      - "traefik.http.routers.adguardhome-local.entrypoints=websecure"
      - "traefik.http.routers.adguardhome-local.tls.certresolver=stepca"
      - "traefik.http.routers.adguardhome-local.middlewares=oauth2-admin@file"
    # https://github.com/tailscale/tailscale/issues/12758#issuecomment-2265152534
    healthcheck:
      test: tailscale status --peers=false --json | grep -q 'Online.*true'
      interval: 5s
      timeout: 5s
      retries: 3
    restart: always

  # https://github.com/AdguardTeam/AdGuardHome/wiki/Docker
  adguardhome:
    container_name: adguardhome
    # https://hub.docker.com/r/adguard/adguardhome/tags
    image: adguard/adguardhome:v0.107.61
    volumes:
      - './adguardhome/conf:/opt/adguardhome/conf'
      - './adguardhome/work:/opt/adguardhome/work'
    restart: always
    depends_on:
      tailscale-adguardhome:
        condition: service_healthy
        restart: true
      unbound:
        condition: service_healthy
        restart: true
    network_mode: service:tailscale-adguardhome

  # https://github.com/MatthewVance/unbound-docker?tab=readme-ov-file#docker-compose
  unbound:
    container_name: unbound
    # https://hub.docker.com/r/mvance/unbound/tags
    image: 'mvance/unbound:1.21.1'
    restart: always
    # ports:
    #   - '53:53/udp'
    #   - '53:53/tcp'
    volumes:
      - './unbound/data:/opt/unbound/etc/unbound/'
    networks:
      dns:
        ipv4_address: 172.20.0.11

networks:
  proxy:
    external: true
  dns:
    driver: bridge
    internal: true  # This network is not connected to any external interfaces
    ipam:
      config:
        - subnet: 172.20.0.0/16
  adguardhome-macvlan:
    driver: macvlan
    driver_opts:
      parent: eth0  # Change this to match your network interface
    ipam:
      config:
        - subnet: 192.168.x.0/24  # Change to match your network
          gateway: 192.168.x.1    # Change to match your network gateway
          ip_range: 192.168.x.y/32  # Restrict to single IP