services:
  # https://github.com/AdguardTeam/AdGuardHome/wiki/Docker
  adguardhome:
    container_name: adguardhome
    # https://hub.docker.com/r/adguard/adguardhome/tags
    image: adguard/adguardhome:v0.107.61
    restart: always
    depends_on:
      unbound:
        condition: service_healthy
        restart: true
    # ports:
    #   - '53:53/udp'
    #   - '53:53/tcp'
    volumes:
      - './adguardhome/conf:/opt/adguardhome/conf'
      - './adguardhome/work:/opt/adguardhome/work'
    networks:
      proxy:
      dns:
        ipv4_address: 172.20.0.10
      adguardhome-macvlan:
        ipv4_address: 192.168.x.y  # Change this to your preferred DNS IP
    labels:
      - "traefik.enable=true"
      # NOTE: specific docker network for Traefik to use
      # https://doc.traefik.io/traefik/providers/docker/#network
      - "traefik.docker.network=proxy"
      - "traefik.http.services.adguardhome.loadbalancer.server.port=80"
      - "traefik.http.routers.adguardhome-local.rule=Host(`adguardhome.yourdomain`)"
      - "traefik.http.routers.adguardhome-local.entrypoints=websecure"
      - "traefik.http.routers.adguardhome-local.tls.certresolver=stepca"
      - "traefik.http.routers.adguardhome-local.middlewares=oauth2-admin@file"

  # https://github.com/MatthewVance/unbound-docker?tab=readme-ov-file#docker-compose
  unbound:
    container_name: unbound
    # https://hub.docker.com/r/mvance/unbound/tags
    image: 'mvance/unbound:1.21.1'
    restart: always
    # ports:
    #   - '53:53/udp'
    #   - '53:53/tcp'
    volumes:
      - './unbound/data:/opt/unbound/etc/unbound/'
    networks:
      dns:
        ipv4_address: 172.20.0.11

networks:
  proxy:
    external: true
  dns:
    driver: bridge
    internal: true  # This network is not connected to any external interfaces
    ipam:
      config:
        - subnet: 172.20.0.0/16
  adguardhome-macvlan:
    driver: macvlan
    driver_opts:
      parent: eth0  # Change this to match your network interface
    ipam:
      config:
        - subnet: 192.168.x.0/24  # Change to match your network
          gateway: 192.168.x.1    # Change to match your network gateway
          ip_range: 192.168.x.y/32  # Restrict to single IP