services:
  # https://tailscale.com/kb/1282/docker#code-examples
  semaphore-tailscale:
    # https://hub.docker.com/r/tailscale/tailscale/tags
    image: tailscale/tailscale:v1.80.0
    container_name: semaphore-tailscale
    hostname: semaphore-tailscale
    environment:
      # Create OAuth key for container: https://tailscale.com/blog/docker-tailscale-guide
      TS_AUTHKEY: ${TS_AUTHKEY}
      TS_ACCEPT_DNS: false
      # NOTE: parameters: https://tailscale.com/kb/1282/docker#parameters
      TS_EXTRA_ARGS: "--advertise-tags=tag:container --reset"
      TS_STATE_DIR: "/var/lib/tailscale"
      TS_USERSPACE: false
    volumes:
      - ./tailscale/state:/var/lib/tailscale
      - ./tailscale/socket:/tmp/
    cap_add:
      - net_admin
      - sys_module
    # NOTE: latest containerd version >=v1.7.24
    # https://github.com/tailscale/tailscale/issues/14256#issuecomment-2509791148
    devices:
      - /dev/net/tun:/dev/net/tun
    networks:
      - semaphore
      - proxy
    dns:
      - 192.168.x.y
      - 1.1.1.1
      - 1.0.0.1
    healthcheck:
      test: tailscale status --peers=false --json | grep -q 'Online.*true'
      interval: 5s
      timeout: 5s
      retries: 3
    restart: always

  semaphore:
    # https://hub.docker.com/r/semaphoreui/semaphore/tags
    build:
      context: .
      dockerfile: Dockerfile
    container_name: semaphore
    # https://github.com/semaphoreui/semaphore/blob/develop/deployment/docker/server/Dockerfile
    entrypoint:
      - /bin/sh
      - -c
      - |
        export SEMAPHORE_ADMIN_PASSWORD=$$(cat /run/secrets/semaphore_admin_password)
        export SEMAPHORE_DB_PASS=$$(cat /run/secrets/db_password)
        export SEMAPHORE_ACCESS_KEY_ENCRYPTION=$$(cat /run/secrets/semaphore_access_key_encryption)
        # Generate config.json inside SEMAPHORE_CONFIG_PATH
        /usr/local/bin/server-wrapper /usr/local/bin/semaphore
        # Inject custom Keycloak config to generated config.json
        # https://docs.semaphoreui.com/administration-guide/openid/keycloak/
        jq '.oidc_providers = {
          "keycloak": {
            "display_name": "Sign in with keycloak",
            "provider_url": "https://keycloak.yourdomain.local/realms/your_realm_name",
            "client_id": "semaphore",
            "client_secret_file": "/run/secrets/keycloak_client_secret",
            "redirect_url": "https://semaphore.yourdomain.local/api/auth/oidc/keycloak/redirect"
          }
        }' /etc/semaphore/config.json > /etc/semaphore/tmp.json
        mv /etc/semaphore/tmp.json /etc/semaphore/config.json
        # https://github.com/semaphoreui/semaphore/blob/develop/deployment/docker/server/server-wrapper
        exec /sbin/tini -- /usr/local/bin/server-wrapper
    depends_on:
      semaphore-postgres:
        condition: service_healthy
        restart: true
      semaphore-tailscale:
        condition: service_healthy
        restart: true
    restart: always
    environment:
      SEMAPHORE_DB_DIALECT: postgres
      SEMAPHORE_DB_HOST: semaphore-postgres
      SEMAPHORE_DB_NAME: semaphore
      SEMAPHORE_DB_USER: semaphore
      SEMAPHORE_ADMIN: admin
      SEMAPHORE_ADMIN_NAME: admin
      SEMAPHORE_ADMIN_EMAIL: admin@localhost
      SEMAPHORE_PASSWORD_LOGIN_DISABLED: True
      SEMAPHORE_CONFIG_PATH: /etc/semaphore
    volumes:
      - ./tailscale/socket/tailscaled.sock:/var/run/tailscale/tailscaled.sock:ro
      # NOTE: only needed when using SEMAPHORE_DB_DIALECT=boltdb
      # - ./data:/var/lib/semaphore
      # NOTE: mount custom CA certificates
      # - /etc/ssl/certs:/etc/ssl/certs:ro
    secrets:
      - db_password
      - semaphore_admin_password
      # NOTE: key for encrypting access keys in database.
      # It must be generated by using the following command:
      # 'head -c32 /dev/urandom | base64'
      - semaphore_access_key_encryption
      # These secrets are used by config.json for config Keycloak OpenID.
      # https://docs.semaphoreui.com/administration-guide/openid/keycloak/
      # NOTE: Current version (2.11.3) hasn't supported openid configuration environment variables.
      # Don't bind config.json to container. Instead copy content of config.json to generated file.
      - keycloak_client_secret
    # ports:
    #   - 3000:3000
    network_mode: service:semaphore-tailscale
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.semaphore.loadbalancer.server.port=3000"
      ## Router
      ### Private
      - "traefik.http.routers.semaphore-local.rule=Host(`semaphore.yourdomain.local`)"
      - "traefik.http.routers.semaphore-local.entrypoints=websecure"
      - "traefik.http.routers.semaphore-local.tls.certresolver=stepca"

  semaphore-postgres:
    # https://hub.docker.com/_/postgres/tags
    image: postgres:16.6-alpine3.21
    container_name: semaphore-postgres
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: semaphore
      POSTGRES_USER: semaphore
      POSTGRES_PASSWORD_FILE: "/run/secrets/db_password"
    secrets:
      - db_password
    networks:
      - semaphore
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "semaphore", "-U", "semaphore" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: always

volumes:
  tailscale:
    driver: local

secrets:
  db_password:
    file: ./secrets/db_password
  semaphore_admin_password:
    file: ./secrets/semaphore_admin_password
  semaphore_access_key_encryption:
    file: ./secrets/semaphore_access_key_encryption
  keycloak_client_secret:
    file: ./secrets/keycloak_client_secret

networks:
  semaphore:
    driver: bridge
  proxy:
    external: true