# https://crazymax.dev/diun/install/docker/#usage

services:
  diun:
    # https://hub.docker.com/r/crazymax/diun/tags
    image: crazymax/diun:4.28.0
    container_name: diun
    command: serve
    volumes:
      - "./data:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
    environment:
      # https://crazymax.dev/diun/config/
      - "TZ=Asia/Tokyo"
      - "DIUN_WATCH_WORKERS=10"
      # https://crontab.guru/every-night-at-midnight
      - "DIUN_WATCH_SCHEDULE=0 0 * * *"
      - "DIUN_WATCH_JITTER=30s"
      # https://crazymax.dev/diun/providers/docker/
      - "DIUN_PROVIDERS_DOCKER=true"
      - "DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT=true"
      - "DIUN_PROVIDERS_DOCKER_WATCHSTOPPED=false"
      # https://crazymax.dev/diun/config/defaults/
      - "DIUN_DEFAULTS_WATCHREPO=true"
      - "DIUN_DEFAULTS_NOTIFYON=new,update"
      - "DIUN_DEFAULTS_MAXTAGS=10"
      - "DIUN_DEFAULTS_INCLUDETAGS=latest"
      # https://crazymax.dev/diun/notif/gotify/
      - "DIUN_NOTIF_GOTIFY_ENDPOINT=http://gotify:80"
      - "DIUN_NOTIF_GOTIFY_TOKENFILE=/run/secrets/gotify_token"
      - "DIUN_NOTIF_GOTIFY_PRIORITY=1"
      - "DIUN_NOTIF_GOTIFY_TIMEOUT=10s"
    secrets:
      - gotify_token
    restart: unless-stopped
    networks:
      - gotify

secrets:
  gotify_token:
    file: ./secrets/gotify_token

networks:
  gotify:
    external: true
