[Unit]
Description=Run external drives check hourly

[Timer]
OnBootSec=1min
OnUnitActiveSec=1min
Unit=check-external-drives-mounted.service
Persistent=true

[Install]
WantedBy=timers.target