# https://chrisgrime.medium.com/deploy-nextcloud-with-docker-compose-935a76a5eb78
# https://www.smarthomebeginner.com/traefik-docker-nextcloud/
# https://github.com/heyvaldemar/nextcloud-traefik-letsencrypt-docker-compose
# https://forums.truenas.com/t/logging-into-nextcloud-app-for-the-first-time-cannot-log-in-as-specified-user/22853/11
## Collabora
# https://help.nextcloud.com/t/collabora-integration-guide/151879
# https://help.nextcloud.com/t/docker-compose-for-nextcloud-collabora-traefik/127733/6
### Dark Mode
# https://help.nextcloud.com/t/collabora-with-dark-theme-barely-readable/100192/6
### Backup
# https://github.com/nextcloud/backup

# TODO: Nextcloud Office empty Global templates cause below error on Collabora
# ERR  Failed to get the realpath of [/opt/cool/child-roots/1-f41af7e4/tmp/sharedpresets/template]

services:
  nextcloud:
    # Upgrade to a newer version: https://github.com/nextcloud/docker?tab=readme-ov-file#update-to-a-newer-version
    # https://hub.docker.com/_/nextcloud/tags
    image: nextcloud:30.0.8-apache
    container_name: nextcloud
    restart: always
    depends_on:
      nextcloud-postgres:
        condition: service_healthy
        restart: true
      nextcloud-redis:
        condition: service_healthy
        restart: true
    # ports:
    #   - 80:80
    volumes:
      - ./nextcloud/html:/var/www/html
      - ./nextcloud/custom_apps:/var/www/html/custom_apps
      - ./nextcloud/config:/var/www/html/config
      - ./nextcloud/data:/var/www/html/data
      # NOTE: import self-signed certificates in nextcloud
      # make sure root_ca.crt can be read by user www-data: `sudo chmod 644 /path/to/step/certs/root_ca.crt`
      # `docker compose exec -it -u 33 nextcloud php occ security:certificates:import /certs/step-ca/root_ca.crt`
      - /path/to/step/certs/root_ca.crt:/certs/step-ca/root_ca.crt:ro
      # NOTE: enable OPcache
      # https://github.com/nextcloud/docker/issues/2184#issuecomment-2082845207
      - ./config/opcache-recommended.ini:/usr/local/etc/php/conf.d/opcache-recommended.ini
    secrets:
      - db_password
      - redis_password
      - nextcloud_admin_user
      - nextcloud_password
    environment:
      TZ: "Asia/Tokyo"
      # PostgreSQL and Redis
      POSTGRES_HOST: "nextcloud-postgres"
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: "/run/secrets/db_password"
      REDIS_HOST: "nextcloud-redis"
      REDIS_HOST_PASSWORD_FILE: "/run/secrets/redis_password"
      REDIS_HOST_PORT: 6379
      # PHP
      # https://github.com/nextcloud/docker?tab=readme-ov-file#php-configuration
      PHP_MEMORY_LIMIT: 1024M
      # Nextcloud
      # NOTE: if Nextcloud already installed, modify config.php
      # https://help.nextcloud.com/t/howto-individual-themes-per-domain/27585/22
      NEXTCLOUD_TRUSTED_DOMAINS: nextcloud.yourdomain.local,nextcloud.yourdomain
      OVERWRITECLIURL: https://nextcloud.yourdomain.local
      OVERWRITEPROTOCOL: https
      TRUSTED_PROXIES: 172.16.0.0/12 192.168.0.0/16 10.0.0.0/8 fc00::/7 fe80::/10 2001:db8::/32
    entrypoint:
      - /bin/sh
      - -c
      - |
        export NEXTCLOUD_ADMIN_USER=$$(cat /run/secrets/nextcloud_admin_user)
        export NEXTCLOUD_ADMIN_PASSWORD=$$(cat /run/secrets/nextcloud_password)
        exec /entrypoint.sh apache2-foreground
    networks:
      - nextcloud
      - proxy
    dns:
      # NOTE: need to access local dns server to resolve Collabora server local domain
      - 192.168.x.y
      - 1.1.1.1
      - 1.0.0.1
    labels:
      # https://docs.nextcloud.com/server/21/admin_manual/issues/general_troubleshooting.html#service-discovery
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.services.nextcloud.loadbalancer.passhostheader=true"
      ## Router
      ### Private
      - "traefik.http.routers.nextcloud-local.rule=Host(`nextcloud.yourdomain.local`)"
      - "traefik.http.routers.nextcloud-local.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-local.tls.certresolver=stepca"
      - "traefik.http.routers.nextcloud-local.middlewares=nextcloud-dav,nextcloud-headers"
      ### Public
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.yourdomain`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls.certresolver=cloudflare"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-dav,nextcloud-headers"
      #### Block Username/Password Login
      - "traefik.http.routers.nextcloud-password-login.rule=Host(`nextcloud.yourdomain`) && PathPrefix(`/login`) && Query(`noredir`, `1`)"
      - "traefik.http.routers.nextcloud-password-login.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-password-login.tls.certresolver=cloudflare"
      - "traefik.http.routers.nextcloud-password-login.service=noop@internal"
      - "traefik.http.routers.nextcloud-password-login.middlewares=nextcloud-headers"
      ## Middlewares
      ### Security Headers
      - 'traefik.http.middlewares.nextcloud-headers.headers.referrerPolicy=no-referrer'
      - 'traefik.http.middlewares.nextcloud-headers.headers.stsSeconds=15552000'
      - 'traefik.http.middlewares.nextcloud-headers.headers.forceSTSHeader=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.stsPreload=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.stsIncludeSubdomains=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.browserXssFilter=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.customRequestHeaders.X-Forwarded-Proto=https'
      ### Redirects 
      # https://docs.nextcloud.com/server/21/admin_manual/issues/general_troubleshooting.html#service-discovery
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.regex=https?://([^/]*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.replacement=https://$${1}/remote.php/dav/"
      
  # https://github.com/nextcloud/whiteboard
  nextcloud-whiteboard:
    # https://github.com/nextcloud-releases/whiteboard/pkgs/container/whiteboard
    image: ghcr.io/nextcloud-releases/whiteboard:v1.0.5
    container_name: nextcloud-whiteboard
    environment:
      - NEXTCLOUD_URL=https://nextcloud.vice.local
      - JWT_SECRET_KEY=FIXME
    # ports:
    #   - 3002:3002
    restart: always
    networks:
      - proxy
    dns:
      - 192.168.x.y
      - 1.1.1.1
      - 1.0.0.1
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.nextcloud-whiteboard.loadbalancer.server.port=3002"
      ## Middlewares
      # https://github.com/nextcloud/whiteboard?tab=readme-ov-file#traefik-v3
      - "traefik.http.middlewares.nextcloud-strip-whiteboard.stripprefix.prefixes=/whiteboard"
      ## Router
      ### Private
      - "traefik.http.routers.nextcloud-whiteboard-local.rule=Host(`nextcloud-whiteboard.yourdomain.local`) && PathPrefix(`/whiteboard`)"
      - "traefik.http.routers.nextcloud-whiteboard-local.middlewares=nextcloud-strip-whiteboard"
      - "traefik.http.routers.nextcloud-whiteboard-local.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-whiteboard-local.tls.certresolver=stepca"
      ### Public
      - "traefik.http.routers.nextcloud-whiteboard.rule=Host(`nextcloud-whiteboard.yourdomain`) && PathPrefix(`/whiteboard`)"
      - "traefik.http.routers.nextcloud-whiteboard.middlewares=nextcloud-strip-whiteboard"
      - "traefik.http.routers.nextcloud-whiteboard.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-whiteboard.tls.certresolver=cloudflare"
      
  # https://sdk.collaboraonline.com/docs/installation/CODE_Docker_image.html#how-to-configure-docker-image
  # https://forum.collaboraonline.com/t/docker-compose-file-example-needed/2976/4
  # NOTE: We don't need to setup capabilities MKNOD or priviledged
  # - https://github.com/CollaboraOnline/online/issues/2800#issuecomment-2684147364
  collabora:
    # https://hub.docker.com/r/collabora/code/tags
    image: collabora/code:24.04.13.3.1
    container_name: collabora
    hostname: collabora
    environment:
      - TZ=Asia/Tokyo
      # NOTE: Allow multiple nextcloud domains
      # https://help.nextcloud.com/t/important-changes-regarding-cool-code-docker-versions-from-v21-11-3-6-on-multiple-domains-setup/137867/2
      - aliasgroup1=https://nextcloud.yourdomain.local
      - aliasgroup2=https://nextcloud.yourdomain
      # - dictionaries=en_US,de_DE
      # https://github.com/CollaboraOnline/online/issues/2801
      - "extra_params=--o:ssl.enable=false --o:ssl.termination=true"
      # Enable tracing
      # https://sdk.collaboraonline.com/docs/installation/Configuration.html#logging
      # - "extra_params=--o:log.level=trace"
    volumes:
      # NOTE: Make sure custom Root CA is installed on host
      - /etc/ssl/certs:/etc/ssl/certs:ro
    secrets:
      - collabora_username
      - collabora_password
    # https://github.com/CollaboraOnline/online/blob/master/docker/from-source-gh-action/Dockerfile
    entrypoint:
      - /bin/bash
      - -c
      - |
        export username=$$(cat /run/secrets/collabora_username)
        export password=$$(cat /run/secrets/collabora_password)
        exec /start-collabora-online.sh
    # ports:
    #   - "9980:9980"
    networks:
      - nextcloud
      - proxy
    dns:
      # NOTE: need to access local dns server to resolve Nextcloud server local domain
      - 192.168.x.y
      - 1.1.1.1
      - 1.0.0.1
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.services.collabora.loadbalancer.server.port=9980'
      ## Router
      ### Private
      - 'traefik.http.routers.collabora-local.rule=Host(`collabora.mydomain.local`)'
      - 'traefik.http.routers.collabora-local.entrypoints=websecure'
      - 'traefik.http.routers.collabora-local.tls.certresolver=stepca'
      - 'traefik.http.routers.collabora-local.middlewares=collabora-headers'
      #### Admin Console
      - 'traefik.http.routers.collabora-admin-local.rule=Host(`collabora.mydomain.local`) && PathPrefix(`/browser/dist/admin`)'
      - 'traefik.http.routers.collabora-admin-local.entrypoints=websecure'
      - 'traefik.http.routers.collabora-admin-local.tls.certresolver=stepca'
      - 'traefik.http.routers.collabora-admin-local.middlewares=collabora-headers,oauth2@file,oauth2-admin@file'
      ### Public
      - 'traefik.http.routers.collabora.rule=Host(`collabora.mydomain`)'
      - 'traefik.http.routers.collabora.entrypoints=websecure'
      - 'traefik.http.routers.collabora.tls.certresolver=cloudflare'
      ## Middleware
      - 'traefik.http.middlewares.collabora-headers.headers.referrerPolicy=no-referrer'
      - 'traefik.http.middlewares.collabora-headers.headers.stsSeconds=15552000'
      - 'traefik.http.middlewares.collabora-headers.headers.forceSTSHeader=true'
      - 'traefik.http.middlewares.collabora-headers.headers.stsPreload=true'
      - 'traefik.http.middlewares.collabora-headers.headers.stsIncludeSubdomains=true'
      - 'traefik.http.middlewares.collabora-headers.headers.browserXssFilter=true'
      - 'traefik.http.middlewares.collabora-headers.headers.customRequestHeaders.X-Forwarded-Proto=https'
    healthcheck:
      # https://stackoverflow.com/questions/47722898/how-can-i-make-a-docker-healthcheck-with-wget-instead-of-curl
      test: curl --fail http://localhost:9980 || exit 1
      interval: 10s
      timeout: 30s
      retries: 3
      start_period: 30s
    restart: always

  nextcloud-postgres:
    # https://docs.nextcloud.com/server/latest/admin_manual/configuration_database/linux_database_configuration.html#postgresql-database
    # https://hub.docker.com/_/postgres/tags
    image: postgres:16.6-alpine3.21
    container_name: nextcloud-postgres
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: "/run/secrets/db_password"
    secrets:
      - db_password
    networks:
      - nextcloud
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: always

  nextcloud-redis:
    # https://hub.docker.com/_/redis/tags
    image: redis:7.4.2-alpine3.21
    container_name: nextcloud-redis
    entrypoint:
      - /bin/sh
      - -c
      - |
        exec /usr/local/bin/redis-server \
        --port 6379 \
        --requirepass $(cat /run/secrets/redis_password)
    volumes:
      - ./redis:/data
    secrets:
      - redis_password
    networks:
      - nextcloud
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 30s
      retries: 3
    restart: always

networks:
  nextcloud:
    driver: bridge
  proxy:
    external: true

secrets:
  db_password:
    file: ./secrets/db_password
  redis_password:
    file: ./secrets/redis_password
  nextcloud_admin_user:
    file: ./secrets/nextcloud_admin_user
  nextcloud_password:
    file: ./secrets/nextcloud_password
  collabora_username:
    file: ./secrets/collabora_username
  collabora_password:
    file: ./secrets/collabora_password
