---
- name: Ensure networkd-dispatcher scripts directory exists
  ansible.builtin.file:
    path: /etc/networkd-dispatcher/routable.d
    state: directory
    mode: '0755'

- name: Copy Tailscale IP rule script for clients
  ansible.builtin.copy:
    src: "99-tailscale-route-rule.sh"
    dest: /etc/networkd-dispatcher/routable.d/99-tailscale-route-rule.sh
    mode: '0755'

- name: Template static routes script for clients
  ansible.builtin.template:
    src: 99-static-routes.sh.j2
    dest: /etc/networkd-dispatcher/routable.d/99-static-routes.sh
    mode: '0755'
  vars:
    _tailscale_router_host_ip: "{{ tailscale_router_host_ip | default(omit) }}"
    _remote_subnets: "{{ remote_subnets | default([]) }}"

- name: Bring Tailscale up (Client)
  ansible.builtin.include_role:
    name: artis3n.tailscale.machine
  vars:
    tailscale_authkey: "{{ tailscale_auth_key }}"
    tailscale_args: >
      {% if headscale_url|default(false) %}
      --login-server='{{ headscale_url }}'
      {% endif %}
      --ssh
      --accept-routes={{ tailscale_accept_routes_client|default(false)|bool }}
      --accept-dns={{ tailscale_accept_dns_client|default(false)|bool }}
      --reset
      
- name: Apply route rules
  ansible.builtin.command: "{{ item }}"
  loop:
    - "/etc/networkd-dispatcher/routable.d/99-tailscale-route-rule.sh"
    - "/etc/networkd-dispatcher/routable.d/99-static-routes.sh"