---
- name: Ensure common packages are installed
  ansible.builtin.apt:
    update_cache: true
    name:
      - networkd-dispatcher  # Needed for client routing scripts
      - iptables-persistent  # Needed for router NAT rules
    state: present

# Include router-specific tasks
- name: Include router configuration
  ansible.builtin.include_tasks: router.yml
  when: inventory_hostname in groups['tailscale_routers']

# Include client-specific tasks
- name: Include client configuration
  ansible.builtin.include_tasks: client.yml
  when: inventory_hostname in groups['tailscale_clients']