---
# https://tailscale.com/kb/1214/site-to-site#ip-address-forwarding
- name: Enable IP forwarding in sysctl
  ansible.posix.sysctl:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    sysctl_file: /etc/sysctl.d/99-tailscale.conf
    reload: true
  loop:
    - { name: 'net.ipv4.ip_forward', value: '1' }
    - { name: 'net.ipv6.conf.all.forwarding', value: '1' }

- name: Template iptables rules for NAT
  ansible.builtin.template:
    src: rules.v4.j2
    dest: /etc/iptables/rules.v4
    mode: '0644'
  vars:
    _nat_rules: "{{ iptables_nat_rules|default([]) }}"
    
- name: "Add NAT rules"
  ansible.builtin.iptables:
    chain: "POSTROUTING"
    table: "nat"
    source: "{{ item.source }}"
    destination: "{{ item.destination }}"
    out_interface: "{{ item.interface }}"
    jump: "MASQUERADE"
  loop: "{{ iptables_nat_rules|default([]) }}"
  loop_control:
    label: "{{ item.description }}"

- name: Bring Tailscale up (Router)
  ansible.builtin.include_role:
    name: artis3n.tailscale.machine
  vars:
    tailscale_authkey: "{{ tailscale_auth_key }}"
    tailscale_args: >
      {% if headscale_url|default(false) %}
      --login-server='{{ headscale_url }}'
      {% endif %}
      --ssh
      --snat-subnet-routes='{{ tailscale_snat_subnet_routes|default(false) }}'
      --advertise-routes='{{ tailscale_advertise_routes|default([])|join(',') }}'
      --accept-routes='{{ tailscale_accept_routes_router|default(true) }}'
      --accept-dns='{{ tailscale_accept_dns_router|default(false) }}'
