---
- name: Ensure Docker is installed and running
  hosts: all
  become: true
  gather_facts: true
  roles:
    - role: geerlingguy.docker
      vars:
        docker_users:
          - "{{ ansible_user }}"

- name: Deploy IT-Tools services 
  hosts: all
  gather_facts: true
  roles:
    - role: common
