services:
  nginx:
    container_name: nginx
    image: nginx:latest
    ports:
      - 8080:80
      - 8443:443
    volumes:
      - ./conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./ssl:/etc/ssl:ro
