[Unit]
Description=Gitea Actions Runner
Documentation=https://gitea.com/gitea/act_runner
After=docker.service

[Service]
ExecStart=/home/lima.linux/.act_runner/start_act_runner.sh
ExecReload=/bin/kill -s HUP $MAINPID
WorkingDirectory=/home/lima.linux/.act_runner
TimeoutSec=0
RestartSec=10
Restart=always
User=lima

[Install]
WantedBy=multi-user.target