---
- name: End play if smb share is already mounted
  meta: end_host
  when: target_path_is_mount_point

- name: End play if smb mount point is a host directory or file
  meta: end_host
  when: smb_mount_point_exists_as_non_mount

- name: Create SMB mount point
  ansible.builtin.file:
    path: "{{ smb_mount_point }}"
    # Make the mount point immutable
    attributes: "+i"
    state: directory
    mode: '0755'

- name: Mount SMB share
  ansible.posix.mount:
    src: "//{{ smb_host_ip }}/{{ smb_share_name }}"
    path: "{{ smb_mount_point }}"
    fstype: "{{ smb_fstype }}"
    opts: "rw,vers=3,file_mode=0600,dir_mode=0700,username={{ smb_user }},password={{ smb_password }},uid={{ smb_mount_uid }},gid={{ smb_mount_gid }}"
    boot: true
    state: mounted

- name: Include check mount tasks
  ansible.builtin.include_tasks: check.yml
  
- name: Fail if SMB share is not mounted
  ansible.builtin.fail:
    msg: "SMB share is not mounted"
  when: not target_path_is_mount_point