---
- name: Unmount SMB share
  ansible.posix.mount:
    path: "{{ smb_mount_point }}"
    state: unmounted
  when: target_path_is_mount_point

- name: Include check mount tasks
  ansible.builtin.include_tasks: check.yml
  
- name: Fail if SMB share is mounted
  ansible.builtin.fail:
    msg: "SMB share is mounted"
  when: target_path_is_mount_point