# https://github.com/healthchecks/healthchecks
# https://hub.docker.com/r/healthchecks/healthchecks
# TODO: create superuser follow the instruction:
# docker compose exec -it healthchecks bash 
# export DB_PASSWORD=$(cat /run/secrets/db_password)
# /opt/healthchecks/manage.py createsuperuser

services:
  healthchecks:
    # https://hub.docker.com/r/healthchecks/healthchecks/tags
    image: healthchecks/healthchecks:v3.8.1
    container_name: healthchecks
    depends_on:
      healthchecks-postgres:
        condition: service_healthy
        restart: true
    restart: unless-stopped
    environment:
      # https://healthchecks.io/docs/self_hosted_configuration/
      ALLOWED_HOSTS: healthchecks.mydomain.local,keycloak.mydomain.local
      DB: postgres
      DB_HOST: healthchecks-postgres
      DB_NAME: ${POSTGRES_DB}
      DB_USER: ${POSTGRES_USER}
      DEBUG: "True"
      EMAIL_USE_VERIFICATION: "False"
      SITE_ROOT: https://healthchecks.mydomain.local
    secrets:
      - db_password
      - secret_key
    entrypoint:
      - /bin/sh
      - -c
      - |
        export DB_PASSWORD=$$(cat /run/secrets/db_password)
        export SECRET_KEY=$$(cat /run/secrets/secret_key)
        uwsgi /opt/healthchecks/docker/uwsgi.ini
    volumes:
      - ./data:/data
    # ports:
    #   - 8000:8000
    networks:
      - proxy
      - healthchecks
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.healthchecks.loadbalancer.server.port=8000"
      ### API
      # https://healthchecks.vice.local/docs/http_api/
      - 'traefik.http.routers.healthchecks-api-local.rule=Host(`healthchecks.mydomain.local`) && (PathPrefix(`/ping`) || PathPrefix(`/api`))'
      - 'traefik.http.routers.healthchecks-api-local.entrypoints=websecure'
      - 'traefik.http.routers.healthchecks-api-local.tls.certresolver=stepca'
      ### Healthchecks
      - "traefik.http.routers.healthchecks-local.rule=Host(`healthchecks.mydomain.local`)"
      - "traefik.http.routers.healthchecks-local.entrypoints=websecure"
      - "traefik.http.routers.healthchecks-local.tls.certresolver=stepca"
      - "traefik.http.routers.healthchecks-local.middlewares=oauth2@file,oauth2-admin@file"

  healthchecks-postgres:
    # https://hub.docker.com/_/postgres/tags
    image: postgres:16.6-alpine3.20
    container_name: healthchecks-postgres
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: "/run/secrets/db_password"
    networks:
      - healthchecks
    secrets:
      - db_password
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped
    
networks:
  proxy:
    external: true
  healthchecks:
    driver: bridge
    
secrets:
  db_password:
    file: ./secrets/db_password
  secret_key:
    file: ./secrets/secret_key