---
- name: Setup service project source path
  ansible.builtin.set_fact:
    service_project_src: "{{ service_project_src|default(ansible_user_dir + '/Docker/' + project_name) }}"

- name: Check service bind mount variables
  ansible.builtin.set_fact:
    postgres_data_dir: "{{ postgres_data_dir if postgres_data_dir is defined and (postgres_data_dir.startswith('/') or postgres_data_dir.startswith('./')) else './postgres' }}"

- name: Resolve service bind mount from relative paths to absolute paths
  ansible.builtin.set_fact:
    postgres_data_dir: "{{ postgres_data_dir.replace('./', service_project_src + '/') }}"

- name: Set default operation mode if not defined
  ansible.builtin.set_fact:
    operation_mode: "{{ operation_mode|default('check') }}"

- name: Set up files list need to check
  ansible.builtin.set_fact:
    semaphore_files_list:
      - { id: "docker_compose",   path: "{{ service_project_src }}/docker-compose.yml",   name: "Docker Compose File" }
      - { id: "project_secrets",  path: "{{ service_project_src }}/secrets",              name: "Project Secrets Directory" }
      - { id: "postgres_data",    path: "{{ postgres_data_dir|trim }}",                   name: "PostgreSQL Data Directory" }

- name: Verify service project source path and bind mount paths are defined
  ansible.builtin.assert:
    that:
      - service_project_src is defined
      - postgres_data_dir is defined
    fail_msg: "Required variables are not defined. Please specify the paths to the service project directory and bind mount directories."
  when: operation_mode == 'deploy' or operation_mode == 'upgrade'

- name: Set default operation mode if not defined
  ansible.builtin.set_fact:
    operation_mode: "{{ operation_mode | default('check') }}"

- name: Include check tasks
  vars:
    project_src: "{{ service_project_src }}"
    files_list: "{{ semaphore_files_list }}"
  ansible.builtin.include_tasks: check.yml
  when: operation_mode == 'check'

- name: Include deploy tasks
  ansible.builtin.include_tasks: deploy.yml
  when: operation_mode == 'deploy'

- name: Include backup tasks
  ansible.builtin.include_tasks: backup.yml
  when: operation_mode == 'backup'

- name: Include destroy tasks
  ansible.builtin.include_tasks: destroy.yml
  when: operation_mode == 'destroy'

- name: Include upgrade tasks
  ansible.builtin.include_tasks: upgrade.yml
  when: operation_mode == 'upgrade'