# https://beszel.dev/guide/agent-installation#docker-or-podman

services:
  beszel-agent:
    # https://hub.docker.com/r/henrygd/beszel-agent/tags
    image: henrygd/beszel-agent:0.10.1
    container_name: beszel-agent
    restart: unless-stopped
    # https://beszel.dev/guide/agent-installation#why-host-network-mode
    network_mode: host
    volumes:
      # https://beszel.dev/guide/environment-variables#agent
      - /var/run/docker.sock:/var/run/docker.sock:ro
      # https://beszel.dev/guide/additional-disks#docker-agent
      # monitor other disks / partitions by mounting a folder in /extra-filesystems
      # - /mnt/disk1/.beszel:/extra-filesystems/disk1:ro
    environment:
      LISTEN: 45876
      KEY_FILE: /run/secrets/beszel-public-key
    secrets:
      - beszel-public-key

secrets:
  beszel-public-key:
    file: ./secrets/beszel-public-key