# https://beszel.dev/guide/hub-installation#docker-or-podman

services:
  beszel:
    # https://hub.docker.com/r/henrygd/beszel/tags
    image: henrygd/beszel:0.10.1
    container_name: beszel
    restart: unless-stopped
    volumes:
      # To mount custom CA certificates
      # - /etc/ssl/certs:/etc/ssl/certs:ro
      - ./data:/beszel_data
    environment:
      # https://beszel.dev/guide/environment-variables#hub
      - DISABLE_PASSWORD_AUTH=true
      # https://beszel.dev/guide/oauth
      # Enable user creation to login with OAuth2
      - USER_CREATION=true
    # Required when using local agent
    extra_hosts:
      - host.docker.internal:host-gateway
    dns:
      - 192.168.x.y
      - 1.1.1.1
      - 1.0.0.1
{% if not use_traefik|default(false) %}
    ports:
      - 8090:8090
{% endif %}
{% if use_traefik|default(false) %}
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - 'traefik.docker.network=proxy'
      - 'traefik.http.services.beszel.loadbalancer.server.port=8090'
  {% if traefik_router_private|default(false) and traefik_private_root_domain|default(false) %}
      ## Private
      - "traefik.http.routers.beszel-local.rule=Host(`{{ service_name|default('beszel') }}.{{ private_apex_domain }}`)"
      - "traefik.http.routers.beszel-local.entrypoints=websecure"
      - "traefik.http.routers.beszel-local.tls.certresolver=stepca"
      - "traefik.http.routers.beszel-local.middlewares=oauth2-admin@file"
  {% endif %}
  {% if traefik_router_public|default(false) and traefik_public_root_domain|default(false) %}
      ## Public
      - "traefik.http.routers.beszel.rule=Host(`{{ service_name|default('beszel') }}.{{ public_apex_domain }}`)"
      - "traefik.http.routers.beszel.entrypoints=websecure"
      - "traefik.http.routers.beszel.tls.certresolver=cloudflare"
      - "traefik.http.routers.beszel.middlewares=oauth2-admin@file"
  {% endif %}

networks:
  proxy:
    external: true
{% endif %}
