services:
  nginx:
    container_name: nginx-proxy-manager
    # https://hub.docker.com/r/jc21/nginx-proxy-manager/tags
    image: 'jc21/nginx-proxy-manager:2.12.1'
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
    # ports:
    #   - '80:80'
    #   - '81:81'
    #   - '443:443'
    #   - '465:465'
    volumes:
      # NOTE: make 98-themepark file executable
      # sudo chmod +x ./98-themepark
      # https://docs.theme-park.dev/themes/nginx-proxy-manager/#docker
      - /root/Docker/nginx-proxy-manager/98-themepark:/etc/cont-init.d/99-themepark
      - /root/Docker/nginx-proxy-manager/data:/data
      - /root/Docker/nginx-proxy-manager/letsencrypt/:/etc/letsencrypt
    networks:
      openwrt_vlan:
        ipv4_address: 10.10.10.6

  goaccess:
    # https://hub.docker.com/r/xavierh/goaccess-for-nginxproxymanager/tags
    image: xavierh/goaccess-for-nginxproxymanager:v1.1.30
    container_name: goaccess
    restart: always
    depends_on:
      - nginx
    # ports:
    #   - '7880:7880'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=America/New_York
      - SKIP_ARCHIVED_LOGS=False #optional
      - DEBUG=False #optional
      - BASIC_AUTH=False #optional
      - BASIC_AUTH_USERNAME=user #optional
      - BASIC_AUTH_PASSWORD=pass #optional   
      - EXCLUDE_IPS=127.0.0.1 #optional - comma delimited 
      - LOG_TYPE=NPM #optional - more information below
      - ENABLE_BROWSERS_LIST=True #optional - more information below
      - CUSTOM_BROWSERS=Kuma:Uptime,TestBrowser:Crawler #optional - comma delimited, more information below
      - HTML_REFRESH=5 #optional - Refresh the HTML report every X seconds. https://goaccess.io/man
      - KEEP_LAST=30 #optional - Keep the last specified number of days in storage. https://goaccess.io/man
      - PROCESSING_THREADS=1 #optional - This parameter sets the number of concurrent processing threads in the program's execution, affecting log data analysis, typically adjusted based on CPU cores. Default is 1. https://goaccess.io/man
    volumes:
      - /root/Docker/nginx-proxy-manager/data/logs:/opt/log
      #- /path/to/host/custom:/opt/custom #optional, required if using log_type = CUSTOM
    networks:
      openwrt_vlan:
        ipv4_address: 10.10.10.7

networks:
  openwrt_vlan:
    external: true
