- name: Setup kopia project source path
  ansible.builtin.set_fact:
    kopia_project_src: "{{ kopia_project_src|default(ansible_user_dir + '/Docker/kopia') }}"

- name: Check services status
  vars:
    files_list:
      - { id: "docker_compose",   path: "{{ kopia_project_src }}/docker-compose.yml",   name: "Docker Compose File" }
    project_src: "{{ kopia_project_src }}"
  ansible.builtin.include_tasks: check.yml
  
- name: Set verify kopia container exists fact
  ansible.builtin.set_fact:
    kopia_container_exists: "{{ check_result.services | selectattr('service', 'equalto', 'kopia') | list | length > 0 }}"
    
- name: Run kopia create forgejo backup snapshot
  community.docker.docker_compose_v2_exec:
    project_src: "{{ kopia_project_src }}"
    command: kopia snapshot create {{ kopia_forgejo_backup_dir }} --password "{{ kopia_repo_password }}"
  register: kopia_snapshot_result
  when: kopia_container_exists