*filter
COMMIT
*nat
{% for rule in _nat_rules %}
# {{rule.description}}
{{ "-A POSTROUTING" -}}
{% if rule.source %} {{ "-s " ~ rule.source }}{% endif -%}
{% if rule.destination %} {{ "-d " ~ rule.destination }}{% endif -%}
{% if rule.interface %} {{ "-o " ~ rule.interface }}{% endif -%}
{{ " -j MASQUERADE" }}
{% endfor %}
COMMIT