# https://gotify.net/docs/install

services:
  gotify:
    # https://hub.docker.com/r/gotify/server/tags
    image: gotify/server:2.6.1
    container_name: gotify
    restart: unless-stopped
    environment:
      # https://gotify.net/docs/config#environment-variables
      - GOTIFY_SERVER_PORT=80
      - GOTIFY_SERVER_SSL_ENABLED=false
      - GOTIFY_REGISTRATION=false
    secrets:
      - gotify_username
      - gotify_password
    entrypoint:
      - /bin/sh
      - -c
      - |
        export GOTIFY_DEFAULTUSER_NAME=$$(cat /run/secrets/gotify_username)
        export GOTIFY_DEFAULTUSER_PASS=$$(cat /run/secrets/gotify_password)
        ./gotify-app
    volumes:
      # NOTE: to run gotify as a dedicated user:
      # sudo chown -R 1234:1234 ./data
      # user: "1234:1234"
      - './data:/app/data'
    # ports:
    #   - 8080:80
    networks:
      - proxy
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.services.gotify.loadbalancer.server.port=80'
      ## Router
      ### API
      # https://gotify.net/api-docs
      - 'traefik.http.routers.gotify-api-local.rule=Host(`gotify.mydomain.local`) && (PathPrefix(`/application`) || PathPrefix(`/message`) || PathPrefix(`/client`) || PathPrefix(`/user`) || PathPrefix(`/health`) || PathPrefix(`/plugin`) || PathPrefix(`/version`))'
      - 'traefik.http.routers.gotify-api-local.entrypoints=websecure'
      - 'traefik.http.routers.gotify-api-local.tls.certresolver=stepca'
      ### Console
      - 'traefik.http.routers.gotify-dashboard-local.rule=Host(`gotify.mydomain.local`)'
      - 'traefik.http.routers.gotify-dashboard-local.entrypoints=websecure'
      - 'traefik.http.routers.gotify-dashboard-local.tls.certresolver=stepca'
      - "traefik.http.routers.gotify-dashboard-local.middlewares=oauth2@file,oauth2-admin@file"

networks:
  proxy:
    external: true

secrets:
  gotify_username:
    file: ./secrets/gotify_username
  gotify_password:
    file: ./secrets/gotify_password
