# https://github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin?tab=readme-ov-file#configuration
# https://github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin?tab=readme-ov-file#variables

http:
  middlewares:
    crowdsec:
      plugin:
        bouncer:
          enabled: true
          logLevel: DEBUG
          updateIntervalSeconds: 60
          updateMaxFailure: 0
          defaultDecisionSeconds: 60
          httpTimeoutSeconds: 10
          crowdsecMode: live
          # NOTE: enable AppSec
          # https://github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin/blob/main/examples/appsec-enabled/README.md
          crowdsecAppsecEnabled: true
          crowdsecAppsecHost: crowdsec:7422
          crowdsecAppsecFailureBlock: true
          crowdsecAppsecUnreachableBlock: true
          # NOTE: generate LAPI key command:
          # `sudo docker exec crowdsec cscli bouncers add traefik-bouncer`
          crowdsecLapiKey: privateKey-foo
          crowdsecLapiHost: crowdsec:8080
          crowdsecLapiScheme: http
          crowdsecLapiTLSInsecureVerify: false
          # NOTE: enable Redis cache
          # https://github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin/blob/main/examples/redis-cache/README.md
          redisCacheEnabled: true
          redisCacheHost: "redis:6379"
          redisCachePassword: password
          redisCacheDatabase: "5"
          # NOTE: trusted IPs
          # https://github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin/blob/main/examples/trusted-ips/README.md
          forwardedHeadersTrustedIPs: 
            # NOTE: Traefik is behind Cloudflare Tunnel, Traefik and Cloudflare share the docker bridge network "cloudflared"
            # Use "docker network inspect cloudflared" to get subnet
            # NOTE: Also need to setup Traefik entrypoints.websecure.forwardedHeaders.trustedIPs to include Cloudflare Tunnel IP
            # https://doc.traefik.io/traefik/routing/entrypoints/#forwarded-headers
            - 172.50.0.0/16
          clientTrustedIPs: 
            # NOTE: Tailscale IPs
            # https://tailscale.com/kb/1015/100.x-addresses
            - 100.64.0.0/10 
            - 192.168.1.0/24
            - 192.168.0.1/24
            # NOTE: May need to include gateway IP of crowdsec network
            - 172.40.0.1/32
