# https://github.com/oauth2-proxy/oauth2-proxy/blob/master/contrib/local-environment/traefik/dynamic.yaml
# https://oauth2-proxy.github.io/oauth2-proxy/configuration/integration/#configuring-for-use-with-the-traefik-v2-forwardauth-middleware

http:
  routers:
    oauth2-route:
      rule: "Host(`oauth2-proxy.yourdomain.local`) && PathPrefix(`/oauth2/`)"
      middlewares:
        - auth-headers
      service: oauth-service

  services:
    oauth-service:
      loadBalancer:
        servers:
          - url: http://oauth2-proxy:4180

  middlewares:
    auth-headers:
      headers:
        stsSeconds: 315360000
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        frameDeny: true
    oauth-auth-redirect:
      forwardAuth:
        address: http://oauth2-proxy:4180
        trustForwardHeader: true
        authResponseHeaders:
          - X-Auth-Request-Access-Token
          - Authorization
    oauth-auth-wo-redirect:
      forwardAuth:
        address: http://oauth2-proxy:4180/oauth2/auth
        trustForwardHeader: true
        authResponseHeaders:
          - X-Auth-Request-Access-Token
          - Authorization
