# https://headscale.net/running-headscale-container/#configure-and-run-headscale
# NOTE: check config-example of current image version
# https://github.com/juanfont/headscale/blob/v0.22.3/config-example.yaml
#

services:
  headscale:
    container_name: headscale
    image: headscale/headscale:0.22.3
    restart: unless-stopped
    ports:
      - "127.0.0.1:8080:8080"
      - "127.0.0.1:9090:9090"
    volumes:
      - /path/to/config:/etc/headscale
      - /path/to/lib:/var/lib/headscale
      - /path/to/run:/var/run/headscale
    command: headscale serve
    networks:
      - nginx_network

  headscale-admin:
    container_name: headscale-admin
    image: goodieshq/headscale-admin:0.1.12b
    restart: unless-stopped
    environment:
      - ENDPOINT=${HEADSCALE_ADMIN_DOMAIN}
    ports:
      - "8081:80"
    networks:
      - nginx_network

networks:
  nginx_network:
    external: true
