[Unit]
Description=Notify about unattended upgrades status
After=network.target network-online.target systemd-networkd.service NetworkManager.service connman.service apt-daily-upgrade.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/unattended-upgrades-notify.sh

[Install]
WantedBy=multi-user.target