---
- name: Mount Windows SMB Share
  hosts: all
  become: true
  gather_facts: true

  roles:
    - role: common
      tags: [never, mount]
      vars:
        operation_mode: mount
        
    - role: common
      tags: [never, test]
      vars:
        operation_mode: test

    - role: common
      tags: [never, unmount]
      vars:
        operation_mode: unmount