services:
  redis:
    # https://hub.docker.com/_/redis/tags
    image: redis:7.4.1-alpine3.20
    container_name: redis
    entrypoint:
      - /bin/sh
      - -c
      - |
        /usr/local/bin/redis-server \
        --port 6379 \
        --requirepass $(cat /run/secrets/redis_password)
    volumes:
      - ./data:/data
    secrets:
      - redis_password
    networks:
      - redis
    # ports:
    #   - 6379:6379
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=redis"
      - "traefik.tcp.services.redis.loadbalancer.server.port=6379"
      - "traefik.tcp.routers.redis.rule=HostSNI(`redis.yourdomain.local`)"
      - "traefik.tcp.routers.redis.entrypoints=redis"
      - "traefik.tcp.routers.redis.tls.certresolver=stepca"
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 30s
      retries: 3

networks:
  redis:
    external: true

secrets:
  redis_password:
    file: ./secrets/redis_password

