# https://github.com/MatthewVance/unbound-docker

version: '3.9'
services:
  unbound:
    container_name: unbound
    # https://hub.docker.com/r/mvance/unbound/tags
    image: 'mvance/unbound:1.21.1'
    restart: unless-stopped
    ports:
      - '53:53/udp'
      - '53:53/tcp'
    volumes:
      - '/my-directory/unbound:/opt/unbound/etc/unbound/'
    networks:
      - proxy

networks:
  proxy:
    external: true
