# References:
# - Gitea Runner: https://gitea.com/gitea/act_runner
# - Docker Compose Example: https://gitea.com/gitea/act_runner/src/branch/main/examples/docker-compose
# - GameCI Windows Docker Images: https://game.ci/docs/docker/windows-docker-images

services:
  gitea-runner:
    build:
      context: .
      dockerfile: Dockerfile
      # args:
      #   GITEA_RUNNER_VERSION: 0.2.11
      #   WINDOWS_IMAGE: your-registry/your-custom-windows-image:latest
    environment:
      - GITEA_INSTANCE_URL=https://your-forgejo-instance-url
      # When using Docker Secrets, it's also possible to use
      # GITEA_RUNNER_REGISTRATION_TOKEN_FILE to pass the location.
      # The env var takes precedence.
      # Needed only for the first start.
      - GITEA_RUNNER_REGISTRATION_TOKEN=your-runner-token
      # OR use token file (e.g., Docker Secret)
      # - GITEA_RUNNER_REGISTRATION_TOKEN_FILE=/run/secrets/runner-token
      - GITEA_RUNNER_NAME=windows-container-gitea-runner
      - GITEA_RUNNER_LABELS=windows:host
      - EXTRA_CERT_FILES=C:\certs\root.crt,C:\certs\intermediate.crt,C:\all-certs
    volumes:
      # To Mount volumes in Windows container
      # https://docs.docker.com/reference/compose-file/services/#volumes
      # - type: volume
      #   source: data
      #   target: "C:\\ProgramData\\GiteaActRunner"
      # Or
      - "data:C:\\ProgramData\\GiteaActRunner"
      #
      # Bind mount directory in Windows container, not working on files
      - "C:\\certs:C:\\certs"
    deploy:
      resources:
        limits:
          cpus: '2'
          memory: 4G
    networks:
      - gitea_network
    restart: unless-stopped

networks:
  gitea_network:
    external: true
    
volumes:
  data:
    driver: local