services:
  # https://smallstep.com/docs/tutorials/docker-tls-certificate-authority/index.html#manual-installation
  # https://github.com/dogukancagatay/step-ca-example/blob/main/docker-compose.yml
  # NOTE: 
  # - BEFORE "docker compose up -d":
  #   - init step-ca with command: "docker compose run --rm step-ca step ca init"
  #   - generate password file inside step volumes: 
  #     - "docker compose run --rm step-ca sh"
  #     - "echo "<your password here>" > /home/step/secrets/password"
  #   - enable step-ca acme provisioner: "docker compose run --rm step-ca step ca provisioner add acme --type ACME"
  step-ca:
    # https://hub.docker.com/r/smallstep/step-ca/tags
    image: 'smallstep/step-ca:0.28.1'
    container_name: step-ca
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "9000:9000"
    volumes:
      - 'step:/home/step/'
      # NOTE: make sure step and certs folders are exists before initializing step-ca 
      # change folder owner:group to 1000:1000
      # sudo chown -R 1000:1000 step
      - './step/certs:/home/step/certs'
    networks:
      - proxy
    # NOTE: container network may not reach local domain in private network
    # if local DNS server is hosted in another docker container, create dns bridge network and setup this network for both containers
    # docker network create --driver=bridge --subnet=172.20.0.0/16 dns
    dns:
      # DNS server IP address
      - 192.168.x.y
      - 1.1.1.1
      - 1.0.0.1

  # https://erdaltoprak.com/blog/setting-up-a-local-reverse-proxy-on-proxmox-with-traefik-and-cloudflare/
  traefik:
    # https://hub.docker.com/_/traefik/tags
    image: "traefik:v3.3.3"
    container_name: "traefik"
    depends_on:
      step-ca:
        condition: service_healthy
        restart: true
    command:
      # https://doc.traefik.io/traefik/getting-started/configuration-overview/#configuration-file
      - "--configFile=/etc/traefik/traefik.yaml"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./config/traefik.yaml:/etc/traefik/traefik.yaml:ro"
      - "./config/dynamic:/etc/traefik/dynamic:ro"
      # NOTE: make sure access.log file exists before starting Traefik
      - "./log/access.log:/var/log/traefik/access.log"
      - "./letsencrypt:/etc/letsencrypt"
      # NOTE: make sure step-ca is initialized before creating Traefik
      - "./step/certs/root_ca.crt:/certs/step-ca/root_ca.crt:ro"
      # NOTE: make sure to download crowdsec's captcha and ban pages before starting Traefik
      - "./crowdsec/captcha.html:/captcha.html"
      - "./crowdsec/ban.html:/ban.html"
    environment:
      - TZ=Asia/Tokyo
      # https://go-acme.github.io/lego/dns/cloudflare/
      - CF_DNS_API_TOKEN_FILE=/run/secrets/cloudflare_dns_api_token
    secrets:
      - cloudflare_dns_api_token
    ports:
      - "80:80" # web
      - "443:443" # websecure
      - "6379:6379" # redis
      - "2222:2222/tcp" # forgejo-ssh
      # - "8080:8080" # insecure dashboard
    networks:
      - cloudflared
      - proxy
      - redis
      - crowdsec
    # NOTE: need to enable ping api
    # # https://doc.traefik.io/traefik/operations/ping/
    healthcheck:
      test: ["CMD", "traefik", "healthcheck"]
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 30s
    restart: always

  traefik-redis:
    # https://hub.docker.com/_/redis/tags
    image: redis:7.4.2-alpine3.21
    container_name: traefik-redis
    entrypoint:
      - /bin/sh
      - -c
      - |
        /usr/local/bin/redis-server \
        --port 6379 \
        --requirepass $(cat /run/secrets/redis_password)
    volumes:
      - ./traefik-redis:/data
    secrets:
      - traefik_redis_password
    networks:
      - redis
    # ports:
    #   - 6379:6379
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 30s
      retries: 3

  # https://doc.crowdsec.net/docs/next/appsec/quickstart/traefik
  # https://github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin?tab=readme-ov-file#usage
  # https://www.crowdsec.net/blog/enhance-docker-compose-security
  crowdsec:
    # https://hub.docker.com/r/crowdsecurity/crowdsec/tags
    image: crowdsecurity/crowdsec:v1.6.4
    container_name: "crowdsec"
    restart: unless-stopped
    environment:
      # https://docs.crowdsec.net/docs/next/appsec/quickstart/traefik/#appsec-component-setup
      COLLECTIONS: crowdsecurity/traefik crowdsecurity/appsec-virtual-patching crowdsecurity/appsec-generic-rules
      CUSTOM_HOSTNAME: crowdsec
    volumes:
      - ./crowdsec/acquis.yaml:/etc/crowdsec/acquis.yaml:ro
      - ./log/access.log:/var/log/traefik/access.log:ro
      - ./crowdsec/data:/var/lib/crowdsec/data/
      - ./crowdsec/config:/etc/crowdsec/
    networks:
      - crowdsec
    labels:
      - "traefik.enable=false"

  # https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager
  goaccess:
    # https://hub.docker.com/r/xavierh/goaccess-for-nginxproxymanager/tags
    image: xavierh/goaccess-for-nginxproxymanager:v1.1.33
    container_name: goaccess
    restart: unless-stopped
    depends_on:
      - traefik
    # ports:
    #   - '7880:7880'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Tokyo
      - SKIP_ARCHIVED_LOGS=False #optional
      - DEBUG=False #optional
      - BASIC_AUTH=False #optional
      - BASIC_AUTH_USERNAME=user #optional
      - BASIC_AUTH_PASSWORD=pass #optional   
      - EXCLUDE_IPS=127.0.0.1 #optional - comma delimited 
      - LOG_TYPE=TRAEFIK #optional - more information below
      - ENABLE_BROWSERS_LIST=True #optional - more information below
      - CUSTOM_BROWSERS=Kuma:Uptime,TestBrowser:Crawler #optional - comma delimited, more information below
      - HTML_REFRESH=5 #optional - Refresh the HTML report every X seconds. https://goaccess.io/man
      - KEEP_LAST=30 #optional - Keep the last specified number of days in storage. https://goaccess.io/man
      - PROCESSING_THREADS=1 #optional - This parameter sets the number of concurrent processing threads in the program's execution, affecting log data analysis, typically adjusted based on CPU cores. Default is 1. https://goaccess.io/man
    volumes:
      - ./log:/opt/log:ro
      #- /path/to/host/custom:/opt/custom #optional, required if using log_type = CUSTOM
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.goaccess.loadbalancer.server.port=7880"
      - "traefik.http.routers.goaccess-local.rule=Host(`goaccess.yourdomain.local`)"
      - "traefik.http.routers.goaccess-local.entrypoints=websecure"
      - "traefik.http.routers.goaccess-local.tls.certresolver=stepca"
      - "traefik.http.routers.goaccess-local.middlewares=oauth2@file,oauth2-admin@file"

volumes:
  step:
    driver: local

secrets:
  cloudflare_dns_api_token:
    file: ./secrets/cloudflare_dns_api_token
  traefik_redis_password:
    file: ./secrets/traefik_redis_password

networks:
  cloudflared:
    external: true
  proxy:
    external: true
  redis:
    external: true
  crowdsec:
    external: true