services:
  # https://smallstep.com/docs/tutorials/docker-tls-certificate-authority/index.html#manual-installation
  # NOTE: before "docker compose up -d", init step-ca with below command
  # docker compose run --rm step-ca step ca init
  step-ca:
    # https://hub.docker.com/r/smallstep/step-ca/tags
    image: 'smallstep/step-ca:0.28.0'
    container_name: step-ca
    restart: unless-stopped
    # ports:
    #   - "9000:9000"
    volumes:
      # NOTE: change folder owner:group to 1000:1000
      # sudo chown -R 1000:1000 step
      - './step:/home/step'
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.step-ca.rule=Host(`step-ca.yourdomain`)"
      - "traefik.http.routers.step-ca.entrypoints=websecure"
      # https://doc.traefik.io/traefik/routing/services/#insecureskipverify
      - "traefik.http.serversTransport.step-ca.insecureSkipVerify=true"

  traefik:
    # https://hub.docker.com/_/traefik/tags
    image: "traefik:v3.2.0"
    container_name: "traefik"
    restart: unless-stopped
    environment:
      - TZ=Asia/Tokyo
    command:
      # https://doc.traefik.io/traefik/getting-started/configuration-overview/#configuration-file
      - "--configFile=/etc/traefik/traefik.yaml"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./config/traefik.yaml:/etc/traefik/traefik.yaml:ro"
      - "./config/dynamic.yaml:/etc/traefik/dynamic.yaml:ro"
      - "./log/access.log:/var/log/traefik/access.log"
      - "./letsencrypt:/etc/letsencrypt"
      # NOTE: make sure step-ca is initialized before creating Traefik
      - "./step/certs/root_ca.crt:/certs/step-ca/root_ca.crt:ro"
    ports:
      - "80:80"
      - "8080:8080"
      - "443:443"
    networks:
      - proxy

  # https://github.com/xavier-hernandez/goaccess-for-nginxproxymanager
  goaccess:
    # https://hub.docker.com/r/xavierh/goaccess-for-nginxproxymanager/tags
    image: xavierh/goaccess-for-nginxproxymanager:v1.1.31
    container_name: goaccess
    restart: unless-stopped
    depends_on:
      - traefik
    # ports:
    #   - '7880:7880'
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Tokyo
      - SKIP_ARCHIVED_LOGS=False #optional
      - DEBUG=False #optional
      - BASIC_AUTH=False #optional
      - BASIC_AUTH_USERNAME=user #optional
      - BASIC_AUTH_PASSWORD=pass #optional   
      - EXCLUDE_IPS=127.0.0.1 #optional - comma delimited 
      - LOG_TYPE=TRAEFIK #optional - more information below
      - ENABLE_BROWSERS_LIST=True #optional - more information below
      - CUSTOM_BROWSERS=Kuma:Uptime,TestBrowser:Crawler #optional - comma delimited, more information below
      - HTML_REFRESH=5 #optional - Refresh the HTML report every X seconds. https://goaccess.io/man
      - KEEP_LAST=30 #optional - Keep the last specified number of days in storage. https://goaccess.io/man
      - PROCESSING_THREADS=1 #optional - This parameter sets the number of concurrent processing threads in the program's execution, affecting log data analysis, typically adjusted based on CPU cores. Default is 1. https://goaccess.io/man
    volumes:
      - ./log:/opt/log:ro
      #- /path/to/host/custom:/opt/custom #optional, required if using log_type = CUSTOM
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.goaccess-local.rule=Host(`goaccess.yourdomain.local`)"
      - "traefik.http.routers.goaccess-local.entrypoints=websecure"
      - "traefik.http.routers.goaccess-local.tls=true"
      - "traefik.http.routers.goaccess-local.tls.certresolver=stepca"

networks:
  proxy:
    external: true
