---
- name: Check if reboot is required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required_file

- name: Get list of packages requiring reboot
  ansible.builtin.command: cat /var/run/reboot-required.pkgs
  register: reboot_required_pkgs
  when: reboot_required_file.stat.exists
  changed_when: false

- name: Create reboot status folder on host
  ansible.builtin.file:
    path: /tmp/ansible_reboot_control
    state: directory
    mode: '0755'
  delegate_to: localhost
  run_once: true
  become: false

- name: Reboot without waiting
  when: 
    - reboot_required_file.stat.exists
    - wait_for_inventory_hostname is not defined
  include_tasks: reboot.yml

- name: Reboot block tasks with waiting
  when: 
    - reboot_required_file.stat.exists
    - wait_for_inventory_hostname is defined
  block:
    - name: Show waiting message
      ansible.builtin.debug:
        msg: "Waiting for {{ wait_for_inventory_hostname }} to reboot before rebooting {{ inventory_hostname }}"

    - name: Wait for another host to be rebooted
      vars:
        wait_host_reboot_required_status: "{{ hostvars[wait_for_inventory_hostname]['reboot_required_file'].stat.exists }}"
      when: wait_host_reboot_required_status
      ansible.builtin.wait_for:
        path: /tmp/ansible_reboot_control/{{ wait_for_inventory_hostname }}_rebooted
      delegate_to: localhost
      become: false
      
    - name: Wait for another host to be online
      ansible.builtin.wait_for:
        host: 1.1.1.1
        port: 53
      delegate_to: "{{ wait_for_inventory_hostname }}"
      become: false

    - name: Reboot system with waiting
      include_tasks: reboot.yml

- name: Clean up reboot status folder on host
  ansible.builtin.file:
    path: /tmp/ansible_reboot_control
    state: absent
  when: ansible_play_hosts | length == ansible_play_hosts_all | length
  delegate_to: localhost
  become: false

- name: Show reboot status
  vars:
    msg: |
      Reboot Status:
      - Reboot required: {{ reboot_required_file.stat.exists | bool }}
      {% if reboot_required_file.stat.exists %}
      - Packages requiring reboot:
        {% for pkg in reboot_required_pkgs.stdout_lines %}
        - {{ pkg }}
        {% endfor %}
      {% endif %}
  ansible.builtin.debug:
    msg: "{{ msg.split('\n') }}"
