---
- name: Check if reboot is required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required_file

- name: Get list of packages requiring reboot
  ansible.builtin.command: cat /var/run/reboot-required.pkgs
  register: reboot_required_pkgs
  when: reboot_required_file.stat.exists
  changed_when: false

- name: Create reboot status folder on host
  ansible.builtin.file:
    path: /tmp/ansible_reboot_control
    state: directory
    mode: '0755'
  delegate_to: localhost
  run_once: true
  become: false

- name: Reboot block tasks without waiting
  when: 
    - reboot_required_file.stat.exists
    - wait_for_inventory_hostname is not defined
  block:
    - name: Reboot system
      ansible.builtin.reboot:
        msg: "Performing controlled system reboot for {{ inventory_hostname }}"
        reboot_timeout: 600
        post_reboot_delay: 30
        test_command: uptime

    - name: Create reboot status file on host
      ansible.builtin.file:
        path: /tmp/ansible_reboot_control/{{ inventory_hostname }}_rebooted
        state: touch
      delegate_to: localhost
      become: false

- name: Reboot block tasks with waiting
  when: 
    - reboot_required_file.stat.exists
    - wait_for_inventory_hostname is defined
  strategy: free
  block:
    - name: Show waiting message
      ansible.builtin.debug:
        msg: "Waiting for {{ wait_for_inventory_hostname }} to reboot before rebooting {{ inventory_hostname }}"

    - name: Wait for another host to be rebooted
      when: "{{ hostvars[wait_for_inventory_hostname]['reboot_required_file'].stat.exists }}"
      ansible.builtin.wait_for:
        path: /tmp/ansible_reboot_control/{{ wait_for_inventory_hostname }}_rebooted
        timeout: 300
      delegate_to: localhost
      ignore_errors: true
      become: false
      
    - name: Wait for another host to reboot
      ansible.builtin.wait_for:
        timeout: 300
      delegate_to: "{{ wait_for_inventory_hostname }}"
      ignore_errors: true
      become: false

    - name: Reboot system
      ansible.builtin.reboot:
        msg: "Performing controlled system reboot for {{ inventory_hostname }}"
        reboot_timeout: 600
        post_reboot_delay: 30
        test_command: uptime

    - name: Create reboot status file on host
      ansible.builtin.file:
        path: /tmp/ansible_reboot_control/{{ inventory_hostname }}_rebooted
        state: touch
      delegate_to: localhost
      become: false

- name: Clean up reboot status folder on host
  ansible.builtin.file:
    path: /tmp/ansible_reboot_control
    state: absent
  when: ansible_play_hosts | length == ansible_play_hosts_all | length
  delegate_to: localhost
  become: false

- name: Show reboot status
  vars:
    msg: |
      Reboot Status:
      - Reboot required: {{ reboot_required_file.stat.exists | bool }}
      {% if reboot_required_file.stat.exists %}
      - Packages requiring reboot: {{ reboot_required_pkgs.stdout_lines | default([]) | length }}
        {% if wait_for_inventory_hostname is defined %}
        - Waiting for: {{ wait_for_inventory_hostname }}
          {% endif %}
        {% endif %}
  ansible.builtin.debug:
    msg: "{{ msg.split('\n') }}"
