---
- name: Check if reboot is required
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required_file

- name: Get list of packages requiring reboot
  ansible.builtin.command: cat /var/run/reboot-required.pkgs
  register: reboot_required_pkgs
  when: reboot_required_file.stat.exists
  changed_when: false

- name: Reboot block tasks
  when: 
    - reboot_required_file.stat.exists
  block:
    - name: Create reboot status folder on host
      ansible.builtin.file:
        path: /tmp/ansible_reboot_control/{{ inventory_hostname }}_rebooted
        state: directory
      run_once: true
      delegate_to: localhost

    - name: Show waiting message
      when: wait_for_inventory_hostname is defined
      ansible.builtin.debug:
        msg: "Waiting for {{ wait_for_inventory_hostname }} to reboot before rebooting {{ inventory_hostname }}"

    - name: Wait for host to be reachable
      when: wait_for_inventory_hostname is defined
      ansible.builtin.wait_for:
        path: /tmp/ansible_reboot_control/{{ wait_for_inventory_hostname }}_rebooted
      delegate_to: localhost

    - name: Reboot system
      ansible.builtin.reboot:
        msg: "Performing controlled system reboot for {{ inventory_hostname }}"
        reboot_timeout: 600
        post_reboot_delay: 30
        test_command: uptime

    - name: Create reboot status file on host
      ansible.builtin.file:
        path: /tmp/ansible_reboot_control/{{ inventory_hostname }}_rebooted
        state: touch
      when: reboot_required_file.stat.exists
      delegate_to: localhost

    - name: Show reboot status
      vars:
        msg: |
          Reboot Status:
          - Reboot required: {{ reboot_required_file.stat.exists | bool }}
          {% if reboot_required_file.stat.exists %}
          - Packages requiring reboot: {{ reboot_required_pkgs.stdout_lines | default([]) | length }}
            {% if wait_for_inventory_hostname is defined %}
          - Waiting for: {{ wait_for_inventory_hostname }}
            {% endif %}
          {% endif %}
      ansible.builtin.debug:
        msg: "{{ msg.split('\n') }}"
        
- name: Clean up reboot status folder on host
  ansible.builtin.file:
    path: /tmp/ansible_reboot_control/{{ inventory_hostname }}_rebooted
    state: absent
  run_once: true
  when: ansible_play_hosts | length == ansible_play_hosts_all | length
  delegate_to: localhost