# https://forgejo.org/docs/latest/admin/installation-docker/
# https://codeberg.org/forgejo-contrib/delightful-forgejo

name: {{ project_name }}
services:
  # https://forgejo.org/docs/next/admin/installation-docker/#hosting-repository-data-on-remote-storage-systems
  forgejo:
    # https://codeberg.org/forgejo/-/packages/container/forgejo/versions
    image: codeberg.org/forgejo/forgejo:9.0.3-rootless
    container_name: forgejo
    restart: always
    depends_on:
      forgejo-db:
        condition: service_healthy
        restart: true
    environment:
        GITEA_APP_INI: /etc/gitea/app.ini
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      # NOTE: make sure ./data and ./conf folders are exists and changed to 1000:1000 before starting
      - {{ forgejo_data_dir }}:/var/lib/gitea
      - {{ forgejo_conf_dir }}:/etc/gitea
      - {{ current_backup_dir }}:/tmp/backup
      # NOTE: custom root CA to access private services
      # https://schemesandnotions.io/posts/giteadroneselfsignedtls/#gitea---droneci
      # https://github.com/go-gitea/gitea/issues/14102#issuecomment-1305973019
{% if use_private_services|default(false) and private_services_root_ca|default(false) %}
      - {{ private_services_root_ca_path }}:/etc/ssl/certs/{{ private_services_root_ca_name|basename }}:ro
{% endif %}
    networks:
      - forgejo

  # https://hub.docker.com/_/postgres
  forgejo-db:
    container_name: forgejo-db
    # https://hub.docker.com/_/postgres/tags
    image: postgres:16.6-alpine3.21
    environment:
      POSTGRES_PASSWORD_FILE: /run/secrets/db_password
      POSTGRES_USER: {{ db_user }}
      POSTGRES_DB: {{ db_name }}
    volumes:
      - {{ postgres_data_dir }}:/var/lib/postgresql/data
      - {{ current_backup_dir }}:/tmp/backup
    networks:
      - forgejo
    secrets:
      - db_password
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "{{ db_name }}", "-U", "{{ db_user }}" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: always
  
networks:
  forgejo:
    driver: bridge

secrets:
  db_password:
    file: ./secrets/db_password