# https://forgejo.org/docs/latest/admin/installation-docker/
# https://codeberg.org/forgejo-contrib/delightful-forgejo

services:
  # https://forgejo.org/docs/next/admin/installation-docker/#hosting-repository-data-on-remote-storage-systems
  forgejo:
    # https://codeberg.org/forgejo/-/packages/container/forgejo/versions
    image: codeberg.org/forgejo/forgejo:9.0.3-rootless
    container_name: forgejo
    restart: always
    depends_on:
      forgejo-db:
        condition: service_healthy
        restart: true
    # https://codeberg.org/forgejo/forgejo/src/branch/forgejo/Dockerfile.rootless
    # https://codeberg.org/forgejo/forgejo/src/branch/forgejo/docker/rootless/usr/local/bin/docker-entrypoint.sh
    entrypoint:
      - /bin/sh
      - -c
      - |
        export FORGEJO__database__PASSWD=$$(cat /run/secrets/db_password)
{% if use_forgejo_mailer %}
        export FORGEJO__mailer__PASSWD=$$(cat /run/secrets/mailer_password)
{% endif %}
        /usr/bin/dumb-init -- /usr/local/bin/docker-entrypoint.sh
    # Configuration Variables
    # https://forgejo.org/docs/next/admin/config-cheat-sheet/
    # https://codeberg.org/forgejo/forgejo/src/branch/forgejo/contrib/environment-to-ini
    environment:
        GITEA_APP_INI: /etc/gitea/app.ini

        # https://forgejo.org/docs/next/admin/installation-docker/#postgresql-database
        FORGEJO__database__DB_TYPE: postgres
        FORGEJO__database__HOST: forgejo-db:5432
        FORGEJO__database__NAME: forgejo
        FORGEJO__database__USER: forgejo

        FORGEJO__service__DISABLE_REGISTRATION: false

        FORGEJO__openid__ENABLE_OPENID_SIGNIN: false
        FORGEJO__openid__ENABLE_OPENID_SIGNUP: false

{% if use_forgejo_mailer %}
        # https://forgejo.org/docs/latest/admin/email-setup/
        FORGEJO__mailer__ENABLED: true
        FORGEJO__mailer__FROM: {{ forgejo_mailer_from|default("forgejo@" + forgejo_mailer_user.split('@')[1]) }}
        FORGEJO__mailer__PROTOCOL: {{ forgejo_mailer_protocol|default('smtps') }}
        FORGEJO__mailer__SMTP_ADDR: {{ forgejo_mailer_smtp_addr }}
        FORGEJO__mailer__SMTP_PORT: {{ forgejo_mailer_smtp_port }}
        FORGEJO__mailer__USER: {{ forgejo_mailer_user }}
{% endif %}
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      # NOTE: make sure ./data and ./conf folders are exists and changed to 1000:1000 before starting
      - "{{ forgejo_data_dir|default("./data") }}:/var/lib/gitea"
      - "{{ forgejo_conf_dir|default("./conf") }}:/etc/gitea"
      # NOTE: custom root CA to access private services
      # https://schemesandnotions.io/posts/giteadroneselfsignedtls/#gitea---droneci
      # https://github.com/go-gitea/gitea/issues/14102#issuecomment-1305973019
{% if use_private_services|default(false) and private_services_root_ca|default(false) %}
      - {{ private_services_root_ca_path }}:/etc/ssl/certs/{{ private_services_root_ca_name|basename }}:ro
{% endif %}
    secrets:
      - db_password
{% if use_forgejo_mailer %}
      - mailer_password
{% endif %}
{% if not use_traefik|default(false) %}
    ports:
      - "3000:3000"
      - "2222:2222/tcp" # SSH
{% endif %}
    networks:
      - forgejo
      - runner
{% if use_traefik|default(false) %}
      - proxy
    labels:
      - "traefik.enable=true"
      # NOTE: specific docker network for Traefik to use
      # https://doc.traefik.io/traefik/providers/docker/#network
      - "traefik.docker.network=proxy"
      - "traefik.http.services.forgejo.loadbalancer.server.port=3000"
  {% if traefik_router_private|default(false) and private_apex_domain|default(false) %}
      ## Priavte
      - "traefik.http.routers.forgejo-local.entrypoints=websecure"
      - "traefik.http.routers.forgejo-local.service=forgejo"
      - "traefik.http.routers.forgejo-local.rule=Host(`{{ service_name|default('forgejo') }}.{{ private_apex_domain }}`)"
      # NOTE: solve git client certificate issue on Windows
      # https://github.com/desktop/desktop/issues/9293#issuecomment-607357181
      - "traefik.http.routers.forgejo-local.tls.certresolver=stepca"
  {% endif %}
  {% if traefik_router_public|default(false) and public_apex_domain|default(false) %}
      ## Public
      - "traefik.http.routers.forgejo.entrypoints=websecure"
      - "traefik.http.routers.forgejo.service=forgejo"
      - "traefik.http.routers.forgejo.rule=Host(`{{ service_name|default('forgejo') }}.{{ public_apex_domain }}`)"
      - "traefik.http.routers.forgejo.tls.certresolver=cloudflare"
  {% endif %}
      # forgejo-ssh
      # NOTE: ssh doesn't support TLS natively, so we need define ssh service by providing it's own port
      # https://community.traefik.io/t/ssh-proxy-from-traefik-to-lxc/608
      - "traefik.tcp.services.forgejo-ssh.loadbalancer.server.port=2222"
      - "traefik.tcp.routers.forgejo-ssh.rule=HostSNI(`*`)"
      - "traefik.tcp.routers.forgejo-ssh.service=forgejo-ssh"
      - "traefik.tcp.routers.forgejo-ssh.entrypoints=forgejo-ssh"
      # NOTE: Forgejo has not support multiple domains yet
      # https://codeberg.org/forgejo/forgejo/issues/1270
    networks:
      - proxy
{% endif %}

  # https://hub.docker.com/_/postgres
  forgejo-db:
    container_name: forgejo-db
    # https://hub.docker.com/_/postgres/tags
    image: postgres:16.6-alpine3.21
    # depends_on:
    #   forgejo-mountcheck:
    #     condition: service_healthy
    #     restart: true
    environment:
      - POSTGRES_PASSWORD_FILE=/run/secrets/db_password
      - POSTGRES_USER=forgejo
      - POSTGRES_DB=forgejo
    volumes:
      - ./postgres:/var/lib/postgresql/data
    networks:
      - forgejo
    secrets:
      - db_password
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "forgejo", "-U", "forgejo" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: always
  
networks:
  forgejo:
    driver: bridge
  runner:
    external: true
{% if use_traefik|default(false) %}
  proxy:
    external: true
{% endif %}

secrets:
  db_password:
    file: ./secrets/db_password
{% if use_forgejo_mailer %}
  mailer_password:
    file: ./secrets/mailer_password
{% endif %}