# https://github.com/dani-garcia/vaultwarden/wiki/Starting-a-Container
# https://github.com/dani-garcia/vaultwarden/wiki/Using-Docker-Compose
# https://github.com/dani-garcia/vaultwarden/wiki/SMTP-Configuration

services:
  vaultwarden:
    container_name: vaultwarden
    # https://hub.docker.com/r/vaultwarden/server/tags
    image: vaultwarden/server:1.32.4-alpine
    restart: unless-stopped
    environment:
      # NOTE: Enable admin page
      # https://github.com/dani-garcia/vaultwarden/wiki/Enabling-admin-page
      - ADMIN_TOKEN=${VAULTWARDEN_ADMIN_TOKEN}
    # ports:
    #   - '80:80'
    volumes:
      - vaultwarden_data:/data/
    networks:
      openwrt_vlan:
        ipv4_address: 10.10.10.34

networks:
  openwrt_vlan:
    external: true

volumes:
  vaultwarden_data:
    driver: local
