# https://smallstep.com/docs/tutorials/docker-tls-certificate-authority/index.html#manual-installation

services:
  step-ca:
    # https://localhost:9443/#!/2/docker/images
    image: 'smallstep/step-ca:0.28.0'
    container_name: step-ca
    restart: unless-stopped
    # ports:
    #   - "9000:9000"
    # NOTE: change folder owner:group to 1000:1000
    # sudo chown -R 1000:1000 step
    volumes:
      - './data:/home/step'
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.step-ca.rule=Host(`step.yourdomain`)"
      - "traefik.http.routers.step-ca.entrypoints=web"

networks:
  proxy:
    external: true
