# https://github.com/dani-garcia/vaultwarden/wiki/Starting-a-Container
# https://github.com/dani-garcia/vaultwarden/wiki/Using-Docker-Compose
# https://github.com/dani-garcia/vaultwarden/wiki/SMTP-Configuration

services:
  vaultwarden:
    container_name: vaultwarden
    image: vaultwarden/server:1.31.0-alpine
    restart: unless-stopped
    environment:
      # NOTE: Enable admin page
      # https://github.com/dani-garcia/vaultwarden/wiki/Enabling-admin-page
      - ADMIN_TOKEN=${VAULTWARDEN_ADMIN_TOKEN}
    # ports:
    #   - '80:80'
    volumes:
      - <VAULTWARDEN_DIR>:/data/
    networks:
      - nginx_network

networks:
  nginx_network:
    external: true
