name: Rust Build and Test
on: [push, pull_request]

jobs:
  check:
    runs-on: windows
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true
          components: rustfmt, clippy
          
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
          
      - name: Check formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check
          
      - name: Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings
          
  test:
    needs: check
    runs-on: windows
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true
          
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
          
      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all-features --workspace
          
  build:
    needs: test
    runs-on: windows
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Install latest rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true
          override: true
          target: x86_64-pc-windows-msvc
          
      - name: Rust Cache
        uses: Swatinem/rust-cache@v2
          
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features
          
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: windows-release
          path: target/release/*.exe
