# https://hub.docker.com/_/nextcloud
# https://chrisgrime.medium.com/deploy-nextcloud-with-docker-compose-935a76a5eb78
# https://docs.nextcloud.com/server/latest/admin_manual/configuration_database/linux_database_configuration.html#postgresql-database
# https://github.com/nextcloud/all-in-one


