# https://hub.docker.com/_/nextcloud
# https://chrisgrime.medium.com/deploy-nextcloud-with-docker-compose-935a76a5eb78
# https://www.smarthomebeginner.com/traefik-docker-nextcloud/
# https://github.com/heyvaldemar/nextcloud-traefik-letsencrypt-docker-compose
# https://forums.truenas.com/t/logging-into-nextcloud-app-for-the-first-time-cannot-log-in-as-specified-user/22853/11
# NOTE: Collabora
# https://help.nextcloud.com/t/collabora-integration-guide/151879
# https://help.nextcloud.com/t/docker-compose-for-nextcloud-collabora-traefik/127733/6
# NOTE: Collabora Dark Mode
# https://github.com/CollaboraOnline/online/issues/9059
# NOTE: Japanese, Chinese fonts (use Standalone Collabora solved this issue)
# https://forum.collaboraonline.com/t/cannot-display-chinese/2607/5
# https://help.nextcloud.com/t/installing-new-fonts-in-collabora/22758
# NOTE: Nextcloud SSO
# https://github.com/zorn-v/nextcloud-social-login/blob/master/docs/sso/keycloak.md
# NOTE: Nextcloud cron jobs
# https://help.nextcloud.com/t/nextcloud-docker-container-best-way-to-run-cron-job/157734/4

services:
  nextcloud:
    # https://hub.docker.com/_/nextcloud/tags
    image: nextcloud:30.0.2-apache
    container_name: nextcloud
    restart: unless-stopped
    depends_on:
      - nextcloud-postgres
      - nextcloud-redis
      - collabora
    # ports:
    #   - 8080:80
    volumes:
      - ./nextcloud/html:/var/www/html
      - ./nextcloud/custom_apps:/var/www/html/custom_apps
      - ./nextcloud/config:/var/www/html/config
      - ./nextcloud/data:/var/www/html/data
      # NOTE: import self-signed certificates in nextcloud
      # make sure root_ca.crt can be read by user www-data: `sudo chmod 644 /path/to/step/certs/root_ca.crt`
      # `docker exec -it -u www-data nextcloud ./occ security:certificates:import /certs/step-ca/root_ca.crt`
      - /path/to/step/certs/root_ca.crt:/certs/step-ca/root_ca.crt:ro
    secrets:
      - db_password
      - redis_password
      - nextcloud_admin_user
      - nextcloud_password
    environment:
      TZ: "Asia/Tokyo"
      # PostgreSQL and Redis
      POSTGRES_HOST: "nextcloud-postgres"
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: "/run/secrets/db_password"
      REDIS_HOST: "nextcloud-redis"
      REDIS_HOST_PORT: 6379
      # Nextcloud
      NEXTCLOUD_TRUSTED_DOMAINS: nextcloud.yourdomain.local
      OVERWRITECLIURL: https://nextcloud.yourdomain.local
      OVERWRITEPROTOCOL: https
      OVERWRITEHOST: nextcloud.yourdomain.local
      TRUSTED_PROXIES: 172.16.0.0/12 192.168.0.0/16 10.0.0.0/8 fc00::/7 fe80::/10 2001:db8::/32
    entrypoint:
      - /bin/sh
      - -c
      - |
        export REDIS_HOST_PASSWORD=$$(cat /run/secrets/redis_password)
        export NEXTCLOUD_ADMIN_USER=$$(cat /run/secrets/nextcloud_admin_user)
        export NEXTCLOUD_ADMIN_PASSWORD=$$(cat /run/secrets/nextcloud_password)
        /entrypoint.sh apache2-foreground
    networks:
      nextcloud:
      proxy:
      dns:
        ipv4_address: 172.30.0.x
    dns:
      # NOTE: need to access local dns server to resolve Collabora server local domain
      - 172.30.0.10
      - 1.1.1.1
      - 1.0.0.1
    labels:
      # https://docs.nextcloud.com/server/21/admin_manual/issues/general_troubleshooting.html#service-discovery
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.services.nextcloud.loadbalancer.passhostheader=true"
      - "traefik.http.routers.nextcloud-local.rule=Host(`nextcloud.yourdomain.local`)"
      - "traefik.http.routers.nextcloud-local.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-local.tls.certresolver=stepca"
      - "traefik.http.routers.nextcloud-local.middlewares=nextcloud-dav,nextcloud-headers"
      ## Middlewares
      ### Security Headers
      - 'traefik.http.middlewares.nextcloud-headers.headers.referrerPolicy=no-referrer'
      - 'traefik.http.middlewares.nextcloud-headers.headers.stsSeconds=15552000'
      - 'traefik.http.middlewares.nextcloud-headers.headers.forceSTSHeader=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.stsPreload=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.stsIncludeSubdomains=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.browserXssFilter=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.customRequestHeaders.X-Forwarded-Proto=https'
      ### Redirects 
      # https://docs.nextcloud.com/server/21/admin_manual/issues/general_troubleshooting.html#service-discovery
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.regex=https?://([^/]*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.replacement=https://$${1}/remote.php/dav/"

  # https://sdk.collaboraonline.com/docs/installation/CODE_Docker_image.html#how-to-configure-docker-image
  # https://forum.collaboraonline.com/t/docker-compose-file-example-needed/2976/4
  collabora:
    # https://hub.docker.com/r/collabora/code/tags
    image: collabora/code:24.04.10.1.1
    container_name: collabora
    hostname: collabora
    restart: unless-stopped
    environment:
      - TZ=Asia/Tokyo
      - aliasgroup1=https://nextcloud.yourdomain.local
      # - dictionaries=en_US,de_DE
      - extra_params=--o:ssl.enable=false --o:ssl.termination=true
    secrets:
      - collabora_username
      - collabora_password
    entrypoint:
      - /bin/bash
      - -c
      - |
        export username=$$(cat /run/secrets/collabora_username)
        export password=$$(cat /run/secrets/collabora_password)
        /start-collabora-online.sh
    networks:
      nextcloud:
      proxy:
      dns:
        ipv4_address: 172.30.0.x
    dns:
      # NOTE: need to access local dns server to resolve Nextcloud server local domain
      - 172.30.0.10
      - 1.1.1.1
      - 1.0.0.1
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.services.collabora.loadbalancer.server.port=9980'
      ## Router
      - 'traefik.http.routers.collabora-local.rule=Host(`collabora.mydomain.local`)'
      - 'traefik.http.routers.collabora-local.entrypoints=websecure'
      - 'traefik.http.routers.collabora-local.tls.certresolver=stepca'
      - 'traefik.http.routers.collabora-local.middlewares=collabora-headers'
      ### Admin Console
      - 'traefik.http.routers.collabora-admin-local.rule=Host(`collabora.mydomain.local`) && PathPrefix(`/browser/dist/admin`)'
      - 'traefik.http.routers.collabora-admin-local.entrypoints=websecure'
      - 'traefik.http.routers.collabora-admin-local.tls.certresolver=stepca'
      - 'traefik.http.routers.collabora-admin-local.middlewares=collabora-headers,oauth2@file,oauth2-admin@file'
      ## Middleware
      - 'traefik.http.middlewares.collabora-headers.headers.referrerPolicy=no-referrer'
      - 'traefik.http.middlewares.collabora-headers.headers.stsSeconds=15552000'
      - 'traefik.http.middlewares.collabora-headers.headers.forceSTSHeader=true'
      - 'traefik.http.middlewares.collabora-headers.headers.stsPreload=true'
      - 'traefik.http.middlewares.collabora-headers.headers.stsIncludeSubdomains=true'
      - 'traefik.http.middlewares.collabora-headers.headers.browserXssFilter=true'
      - 'traefik.http.middlewares.collabora-headers.headers.customRequestHeaders.X-Forwarded-Proto=https'

  nextcloud-postgres:
    # https://docs.nextcloud.com/server/latest/admin_manual/configuration_database/linux_database_configuration.html#postgresql-database
    # https://hub.docker.com/_/postgres/tags
    image: postgres:16.5-alpine3.20
    container_name: nextcloud-postgres
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD_FILE: "/run/secrets/db_password"
    secrets:
      - db_password
    networks:
      - nextcloud
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: unless-stopped

  nextcloud-redis:
    # https://hub.docker.com/_/redis/tags
    image: redis:7.4.1-alpine3.20
    container_name: nextcloud-redis
    entrypoint:
      - /bin/sh
      - -c
      - |
        /usr/local/bin/redis-server \
        --port 6379 \
        --requirepass $(cat /run/secrets/redis_password)
    volumes:
      - ./redis:/data
    secrets:
      - redis_password
    networks:
      - nextcloud
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 30s
      retries: 3

networks:
  nextcloud:
    driver: bridge
  proxy:
    external: true
  dns:
    external: true

secrets:
  db_password:
    file: ./secrets/db_password
  redis_password:
    file: ./secrets/redis_password
  nextcloud_admin_user:
    file: ./secrets/nextcloud_admin_user
  nextcloud_password:
    file: ./secrets/nextcloud_password
  collabora_username:
    file: ./secrets/collabora_username
  collabora_password:
    file: ./secrets/collabora_password
