# https://github.com/ItzCrazyKns/Perplexica/blob/master/searxng/settings.yml
# https://github.com/searxng/searxng-docker/blob/master/searxng/settings.yml

use_default_settings: true

general:
  instance_name: 'searxng'

search:
  autocomplete: 'google'
  formats:
    - html
    - json

server:
  secret_key: 'a2fb23f1b02e6ee83875b09826990de0f6bd908b6638e8c10277d415f6ab852b' # Is overwritten by ${SEARXNG_SECRET}

redis:
  url: redis://redis:6379/0

engines:
  - name: wolframalpha
    disabled: false