# https://jellyfin.org/docs/general/installation/container/#using-docker-compose
# https://jellyfin.org/docs/general/administration/hardware-acceleration/nvidia/#official-docker
# https://github.com/Wh1rr/ultimate-jellyfin-stack

services:
  jellyfin:
    container_name: jellyfin
    # https://hub.docker.com/r/jellyfin/jellyfin/tags
    image: jellyfin/jellyfin:10.10.7
    # user: uid:gid
    user: 1000:1000
    volumes:
      - /path/to/config:/config
      - /path/to/cache:/cache
      - type: bind
        source: /path/to/movies_and_tv_shows
        target: /movies_and_tv_shows
      - type: bind
        source: /path/to/youtubes
        target: /youtubes
      # Optional - extra fonts to be used during transcoding with subtitle burn-in
      # - type: bind
      #   source: /path/to/fonts
      #   target: /usr/local/share/fonts/custom
      #   read_only: true
    restart: 'unless-stopped'
    # Optional - alternative address used for autodiscovery
    # environment:
    #   - JELLYFIN_PublishedServerUrl=http://example.com
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [ gpu ]
    # Port Bindings: https://jellyfin.org/docs/general/networking/#port-bindings
    ports:
      - 8096:8096
      - 8920:8920
      - 1900:1900/udp
      - 7359:7359/udp
    # network_mode: 'host'
    # Optional - may be necessary for docker healthcheck to pass if running in host network mode
    # extra_hosts:
    #   - 'host.docker.internal:host-gateway'
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - "traefik.http.routers.jellyfin-local.rule=Host(`jellyfin.yourdomain.local`)"
      - "traefik.http.routers.jellyfin-local.entrypoints=websecure"
      - "traefik.http.routers.jellyfin-local.tls.certresolver=stepca"

networks:
  proxy:
    external: true
