# https://joeeey.com/blog/selfhosting-sso-with-traefik-oauth2-proxy-part-2/
# https://oauth2-proxy.github.io/oauth2-proxy/configuration/integration#configuring-for-use-with-the-traefik-v2-forwardauth-middleware
# https://github.com/kingjuk/oatuh2-proxy-traefik-docker-compose


