# https://joeeey.com/blog/selfhosting-sso-with-traefik-oauth2-proxy-part-2/
# https://github.com/kingjuk/oatuh2-proxy-traefik-docker-compose

services:
  oauth2-proxy:
    # https://quay.io/repository/oauth2-proxy/oauth2-proxy?tab=tags  
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.8.1-alpine
    container_name: oauth2-proxy
    entrypoint:
      - /bin/sh
      - -c
      - |
        export OAUTH2_PROXY_COOKIE_SECRET=$$(cat /run/secrets/oauth2_proxy_cookie_secret)
        export OAUTH2_PROXY_CLIENT_SECRET=$$(cat /run/secrets/oauth2_proxy_client_secret)
        export OAUTH2_PROXY_CLIENT_ID=$$(cat /run/secrets/oauth2_proxy_client_id)
        export OAUTH2_PROXY_OIDC_ISSUER_URL=$$(cat /run/secrets/oauth2_proxy_oidc_issuer_url)
        export OAUTH2_PROXY_BACKEND_LOGOUT_URL=$$(cat /run/secrets/oauth2_proxy_backend_logout_url)
        /bin/oauth2-proxy --config=/etc/oauth2-proxy/oauth2-proxy.cfg
    volumes:
      - ./oauth2-proxy.cfg:/etc/oauth2-proxy/oauth2-proxy.cfg:ro
      - /path/to/step-ca/certs/root_ca.crt:/etc/ssl/step-ca/root_ca.crt:ro
    networks:
      - proxy
      - dns
    # NOTE: oicd_issuer_url need to match url request from browser
    dns:
      - 192.168.x.y
      - 1.1.1.1
      - 1.0.0.2
    secrets:
      # NOTE: generate cookie_secret
      # https://oauth2-proxy.github.io/oauth2-proxy/configuration/overview/#generating-a-cookie-secret
      - oauth2_proxy_cookie_secret
      - oauth2_proxy_client_secret
      - oauth2_proxy_client_id
      - oauth2_proxy_oidc_issuer_url
      - oauth2_proxy_backend_logout_url
    restart: unless-stopped

networks:
  proxy:
    external: true

secrets:
  oauth2_proxy_cookie_secret:
    file: ./secrets/oauth2_proxy_cookie_secret
  oauth2_proxy_client_secret:
    file: ./secrets/oauth2_proxy_client_secret
  oauth2_proxy_client_id:
    file: ./secrets/oauth2_proxy_client_id
  oauth2_proxy_oidc_issuer_url:
    file: ./secrets/oauth2_proxy_oidc_issuer_url
  oauth2_proxy_backend_logout_url:
    file: ./secrets/oauth2_proxy_backend_logout_url