providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  # NOTE: dynamic configuration
  # https://doc.traefik.io/traefik/providers/file/
  file:
    filename: "/etc/traefik/dynamic.yaml"
    watch: true

# https://doc.traefik.io/traefik/operations/api/
api:
  dashboard: true
  insecure: true
  debug: true

log:
  level: DEBUG

# https://doc.traefik.io/traefik/observability/access-logs/
accessLog:
  # Enable specific file path to read from another process.
  filePath: "/var/log/traefik/access.log"
  # NOTE: goaccess only support CLF format for Treafik
  # https://goaccess.io/man#options
  format: common
  bufferingSize: 100
  fields:
    defaultMode: drop
    headers:
      defaultMode: drop # drop all headers
      names:
        User-Agent: keep

# https://doc.traefik.io/traefik/routing/entrypoints/
entryPoints:
  web:
    address: :80
    # http:
    #   redirections:
    #     entryPoint:
    #       to: websecure
    #       scheme: https
  websecure:
    address: :443

certificatesResolvers:
  stepca:
    acme:
      caServer: "https://smallstep-ca.internal:9000/acme/acme/directory"
      email: "MyFancyCA@MyFancyTLD.lan"
      storage: "/certs/acme/stepca-acme.json"
      certificatesDuration: 2160
      tlsChallenge: {}
