---
- name: Start services
  # https://stackoverflow.com/a/71583324
  ansible.builtin.include_tasks: ../tasks/start.yml
  
- name: Rollback services
  community.docker.docker_compose_v2:
    project_src: "{{ service_project_src }}"
    services: "{{ item.service }}"
    remove_orphans: true
    state: "{{ 'present' if item.state == 'running' else 'stopped' }}"
  when: service_project_src is defined and forgejo_services_check_result is defined and forgejo_services_check_result.services is defined
  loop: "{{ forgejo_services_check_result.services }}"
  loop_control:
    label: "{{ item.service }}"