# https://chrisgrime.medium.com/deploy-nextcloud-with-docker-compose-935a76a5eb78
# https://www.smarthomebeginner.com/traefik-docker-nextcloud/
# https://github.com/heyvaldemar/nextcloud-traefik-letsencrypt-docker-compose
# https://forums.truenas.com/t/logging-into-nextcloud-app-for-the-first-time-cannot-log-in-as-specified-user/22853/11
## Collabora
# https://help.nextcloud.com/t/collabora-integration-guide/151879
# https://help.nextcloud.com/t/docker-compose-for-nextcloud-collabora-traefik/127733/6
### Dark Mode
# https://help.nextcloud.com/t/collabora-with-dark-theme-barely-readable/100192/6
### Backup
# https://github.com/nextcloud/backup

# TODO: Nextcloud Office empty Global templates cause below error on Collabora
# ERR  Failed to get the realpath of [/opt/cool/child-roots/1-f41af7e4/tmp/sharedpresets/template]

services:
  nextcloud:
    # Upgrade to a newer version: https://github.com/nextcloud/docker?tab=readme-ov-file#update-to-a-newer-version
    # https://hub.docker.com/_/nextcloud/tags
    image: nextcloud:30.0.10-apache
    container_name: nextcloud
    restart: always
    depends_on:
      nextcloud-postgres:
        condition: service_healthy
        restart: true
      nextcloud-redis:
        condition: service_healthy
        restart: true
    volumes:
      - {{ nextcloud_html_dir }}:/var/www/html
      - {{ nextcloud_custom_apps_dir }}:/var/www/html/custom_apps
      - {{ nextcloud_config_dir }}:/var/www/html/config
      - {{ nextcloud_data_dir }}:/var/www/html/data
      # NOTE: enable OPcache
      # https://github.com/nextcloud/docker/issues/2184#issuecomment-2082845207
      - {{ nextcloud_opcache_recommended_ini }}:/usr/local/etc/php/conf.d/opcache-recommended.ini
{% if has_private_services_root_ca|default(false) %}
      # NOTE: import self-signed certificates in nextcloud
      # make sure root_ca.crt can be read by user www-data: `sudo chmod 644 /path/to/step/certs/root_ca.crt`
      # `docker compose exec -it -u 33 nextcloud php occ security:certificates:import /certs/step-ca/root_ca.crt`
      - {{ private_services_root_ca_path }}:/certs/step-ca/root_ca.crt:ro
{% endif %}
    secrets:
      - db_password
      - redis_password
      - nextcloud_admin_user
      - nextcloud_password
    environment:
      TZ: "Asia/Tokyo"
      # PostgreSQL and Redis
      POSTGRES_HOST: "nextcloud-postgres"
      POSTGRES_DB: "{{ postgres_db }}"
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD_FILE: "/run/secrets/db_password"
      REDIS_HOST: "nextcloud-redis"
      REDIS_HOST_PASSWORD_FILE: "/run/secrets/redis_password"
      REDIS_HOST_PORT: 6379
      # PHP
      # https://github.com/nextcloud/docker?tab=readme-ov-file#php-configuration
      PHP_MEMORY_LIMIT: 1024M
{% if nextcloud_trusted_domains is defined and nextcloud_trusted_domains|length > 0 %}
      # Nextcloud
      # NOTE: if Nextcloud already installed, modify config.php
      # https://help.nextcloud.com/t/howto-individual-themes-per-domain/27585/22
      NEXTCLOUD_TRUSTED_DOMAINS: {{ nextcloud_trusted_domains|join(',') }}
{% endif %}
{%- if use_traefik|default(false) and use_traefik_router_private|default(false) and private_apex_domain|default(false) -%}
      OVERWRITECLIURL: https://{{ service_name|default('nextcloud') }}.{{ private_apex_domain }}
{% endif %}
{%- if use_traefik|default(false) and (use_traefik_router_private|default(false) or use_traefik_router_public|default(false)) -%}
      OVERWRITEPROTOCOL: https
{% endif %}
      TRUSTED_PROXIES: 172.16.0.0/12 192.168.0.0/16 10.0.0.0/8 fc00::/7 fe80::/10 2001:db8::/32
    entrypoint:
      - /bin/sh
      - -c
      - |
        export NEXTCLOUD_ADMIN_USER=$$(cat /run/secrets/nextcloud_admin_user)
        export NEXTCLOUD_ADMIN_PASSWORD=$$(cat /run/secrets/nextcloud_password)
        exec /entrypoint.sh apache2-foreground
{% if use_local_dns|default(false) %}
    dns:
      # NOTE: need to access local dns server to resolve Collabora server local domain
      - {{ local_dns_ip }}
      - 1.1.1.1
      - 1.0.0.1
{% endif %}
{% if not use_traefik|default(false) %}
    ports:
      - "80:80"
{% endif %}
    networks:
      - nextcloud
{% if use_traefik|default(false) %}
      - proxy
    labels:
      # https://docs.nextcloud.com/server/21/admin_manual/issues/general_troubleshooting.html#service-discovery
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.services.nextcloud.loadbalancer.passhostheader=true"
      ## Router
  {% if use_traefik_router_private|default(false) and private_apex_domain|default(false) %}
      ### Private
      - "traefik.http.routers.nextcloud-local.rule=Host(`{{ service_name|default('nextcloud') }}.{{ private_apex_domain }}`)"
      - "traefik.http.routers.nextcloud-local.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-local.tls.certresolver=stepca"
      - "traefik.http.routers.nextcloud-local.middlewares=nextcloud-dav,nextcloud-headers"
  {% endif %}
  {% if use_traefik_router_public|default(false) and public_apex_domain|default(false) %}
      ### Public
      - "traefik.http.routers.nextcloud.rule=Host(`{{ service_name|default('nextcloud') }}.{{ public_apex_domain }}`)"
      - "traefik.http.routers.nextcloud.entrypoints=websecure"
      - "traefik.http.routers.nextcloud.tls.certresolver=cloudflare"
      - "traefik.http.routers.nextcloud.middlewares=nextcloud-dav,nextcloud-headers"
      #### Block Username/Password Login
      - "traefik.http.routers.nextcloud-password-login.rule=Host(`{{ service_name|default('nextcloud') }}.{{ public_apex_domain }}`) && PathPrefix(`/login`) && Query(`noredir`, `1`)"
      - "traefik.http.routers.nextcloud-password-login.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-password-login.tls.certresolver=cloudflare"
      - "traefik.http.routers.nextcloud-password-login.service=noop@internal"
      - "traefik.http.routers.nextcloud-password-login.middlewares=nextcloud-headers"
  {% endif %}
      ## Middlewares
      ### Security Headers
      - 'traefik.http.middlewares.nextcloud-headers.headers.referrerPolicy=no-referrer'
      - 'traefik.http.middlewares.nextcloud-headers.headers.stsSeconds=15552000'
      - 'traefik.http.middlewares.nextcloud-headers.headers.forceSTSHeader=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.stsPreload=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.stsIncludeSubdomains=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.browserXssFilter=true'
      - 'traefik.http.middlewares.nextcloud-headers.headers.customRequestHeaders.X-Forwarded-Proto=https'
      ### Redirects 
      # https://docs.nextcloud.com/server/21/admin_manual/issues/general_troubleshooting.html#service-discovery
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.permanent=true"
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.regex=https?://([^/]*)/.well-known/(card|cal)dav"
      - "traefik.http.middlewares.nextcloud-dav.redirectregex.replacement=https://$${1}/remote.php/dav/"
{% endif %}
      
{#
  # https://github.com/nextcloud/whiteboard
  nextcloud-whiteboard:
    # https://github.com/nextcloud-releases/whiteboard/pkgs/container/whiteboard
    image: ghcr.io/nextcloud-releases/whiteboard:v1.0.5
    container_name: nextcloud-whiteboard
    secrets:
      - nextcloud_whiteboard_jwt_secret
{% if use_local_dns|default(false) and private_apex_domain|default(false) %}
    environment:
      NEXTCLOUD_URL: https://{{ service_name|default('nextcloud') }}.{{ private_apex_domain }}
{% endif %}
    # https://github.com/nextcloud/whiteboard/blob/main/Dockerfile
    entrypoint:
      - /bin/sh
      - -c
      - |
        export JWT_SECRET_KEY=$$(cat /run/secrets/nextcloud_whiteboard_jwt_secret)
        exec npm run server:start
    restart: always
{% if use_local_dns|default(false) %}
    dns:
      - {{ local_dns_ip }}
      - 1.1.1.1
      - 1.0.0.1
{% endif %}
{% if use_traefik|default(false) %}
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=proxy"
      - "traefik.http.services.nextcloud-whiteboard.loadbalancer.server.port=3002"
      ## Middlewares
      # https://github.com/nextcloud/whiteboard?tab=readme-ov-file#traefik-v3
      - "traefik.http.middlewares.nextcloud-strip-whiteboard.stripprefix.prefixes=/whiteboard"
      ## Router
  {% if use_traefik_router_private|default(false) and private_apex_domain|default(false) %}
      ### Private
      - "traefik.http.routers.nextcloud-whiteboard-local.rule=Host(`{{ whiteboard_service_name|default('nextcloud-whiteboard') }}.{{ private_apex_domain }}`) && PathPrefix(`/whiteboard`)"
      - "traefik.http.routers.nextcloud-whiteboard-local.middlewares=nextcloud-strip-whiteboard"
      - "traefik.http.routers.nextcloud-whiteboard-local.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-whiteboard-local.tls.certresolver=stepca"
  {% endif %}
  {% if use_traefik_router_public|default(false) and public_apex_domain|default(false) %}
      ### Public
      - "traefik.http.routers.nextcloud-whiteboard.rule=Host(`{{ whiteboard_service_name|default('nextcloud-whiteboard') }}.{{ public_apex_domain }}`) && PathPrefix(`/whiteboard`)"
      - "traefik.http.routers.nextcloud-whiteboard.middlewares=nextcloud-strip-whiteboard"
      - "traefik.http.routers.nextcloud-whiteboard.entrypoints=websecure"
      - "traefik.http.routers.nextcloud-whiteboard.tls.certresolver=cloudflare"
  {% endif %}
{% endif %}
      
  # https://sdk.collaboraonline.com/docs/installation/CODE_Docker_image.html#how-to-configure-docker-image
  # https://forum.collaboraonline.com/t/docker-compose-file-example-needed/2976/4
  # NOTE: We don't need to setup capabilities MKNOD or priviledged
  # - https://github.com/CollaboraOnline/online/issues/2800#issuecomment-2684147364
  collabora:
    # https://hub.docker.com/r/collabora/code/tags
    image: collabora/code:24.04.13.3.1
    container_name: collabora
    hostname: collabora
    environment:
      - TZ=Asia/Tokyo
      # NOTE: Allow multiple nextcloud domains
      # https://help.nextcloud.com/t/important-changes-regarding-cool-code-docker-versions-from-v21-11-3-6-on-multiple-domains-setup/137867/2
{% if use_traefik|default(false) and use_traefik_router_private|default(false) and private_apex_domain|default(false) %}
      - aliasgroup1=https://{{ service_name|default('nextcloud') }}.{{ private_apex_domain }}
{% endif %}
{% if use_traefik|default(false) and use_traefik_router_public|default(false) and public_apex_domain|default(false) %}
      - aliasgroup2=https://{{ service_name|default('nextcloud') }}.{{ public_apex_domain }}
{% endif %}
      # - dictionaries=en_US,de_DE
      # https://github.com/CollaboraOnline/online/issues/2801
      - "extra_params=--o:ssl.enable=false --o:ssl.termination=true"
      # Enable tracing
      # https://sdk.collaboraonline.com/docs/installation/Configuration.html#logging
      # - "extra_params=--o:log.level=trace"
    volumes:
      # NOTE: Make sure custom Root CA is installed on host
      - /etc/ssl/certs:/etc/ssl/certs:ro
    secrets:
      - collabora_username
      - collabora_password
    # https://github.com/CollaboraOnline/online/blob/master/docker/from-source-gh-action/Dockerfile
    entrypoint:
      - /bin/bash
      - -c
      - |
        export username=$$(cat /run/secrets/collabora_username)
        export password=$$(cat /run/secrets/collabora_password)
        exec /start-collabora-online.sh
{% if use_local_dns|default(false) %}
    dns:
      # NOTE: need to access local dns server to resolve Nextcloud server local domain
      - {{ local_dns_ip }}
      - 1.1.1.1
      - 1.0.0.1
{% endif %}
    networks:
      - nextcloud
{% if use_traefik|default(false) %}
      - proxy
    labels:
      - 'traefik.enable=true'
      - 'traefik.docker.network=proxy'
      - 'traefik.http.services.collabora.loadbalancer.server.port=9980'
      ## Router
  {% if use_traefik_router_private|default(false) and private_apex_domain|default(false) %}
      ### Private
      - 'traefik.http.routers.collabora-local.rule=Host(`{{ collabora_service_name|default('collabora') }}.{{ private_apex_domain }}`)'
      - 'traefik.http.routers.collabora-local.entrypoints=websecure'
      - 'traefik.http.routers.collabora-local.tls.certresolver=stepca'
      - 'traefik.http.routers.collabora-local.middlewares=collabora-headers'
      #### Admin Console
      - 'traefik.http.routers.collabora-admin-local.rule=Host(`{{ collabora_service_name|default('collabora') }}.{{ private_apex_domain }}`) && PathPrefix(`/browser/dist/admin`)'
      - 'traefik.http.routers.collabora-admin-local.entrypoints=websecure'
      - 'traefik.http.routers.collabora-admin-local.tls.certresolver=stepca'
      - 'traefik.http.routers.collabora-admin-local.middlewares=collabora-headers,oauth2@file,oauth2-admin@file'
  {% endif %}
  {% if use_traefik_router_public|default(false) and public_apex_domain|default(false) %}
      ### Public
      - 'traefik.http.routers.collabora.rule=Host(`{{ collabora_service_name|default('collabora') }}.{{ public_apex_domain }}`)'
      - 'traefik.http.routers.collabora.entrypoints=websecure'
      - 'traefik.http.routers.collabora.tls.certresolver=cloudflare'
  {% endif %}
      ## Middleware
      - 'traefik.http.middlewares.collabora-headers.headers.referrerPolicy=no-referrer'
      - 'traefik.http.middlewares.collabora-headers.headers.stsSeconds=15552000'
      - 'traefik.http.middlewares.collabora-headers.headers.forceSTSHeader=true'
      - 'traefik.http.middlewares.collabora-headers.headers.stsPreload=true'
      - 'traefik.http.middlewares.collabora-headers.headers.stsIncludeSubdomains=true'
      - 'traefik.http.middlewares.collabora-headers.headers.browserXssFilter=true'
      - 'traefik.http.middlewares.collabora-headers.headers.customRequestHeaders.X-Forwarded-Proto=https'
{% endif %}
    healthcheck:
      # https://stackoverflow.com/questions/47722898/how-can-i-make-a-docker-healthcheck-with-wget-instead-of-curl
      test: curl --fail http://localhost:9980 || exit 1
      interval: 10s
      timeout: 30s
      retries: 3
      start_period: 30s
    restart: always 
#}

  nextcloud-postgres:
    # https://docs.nextcloud.com/server/latest/admin_manual/configuration_database/linux_database_configuration.html#postgresql-database
    # https://hub.docker.com/_/postgres/tags
    image: postgres:16.6-alpine3.21
    container_name: nextcloud-postgres
    volumes:
      - {{ postgres_data_dir }}:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: "{{ postgres_db }}"
      POSTGRES_USER: "{{ postgres_user }}"
      POSTGRES_PASSWORD_FILE: "/run/secrets/db_password"
    secrets:
      - db_password
    networks:
      - nextcloud
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "{{ postgres_db }}", "-U", "{{ postgres_user }}" ]
      interval: 10s
      timeout: 5s
      retries: 3
    restart: always

  nextcloud-redis:
    # https://hub.docker.com/_/redis/tags
    image: redis:7.4.2-alpine3.21
    container_name: nextcloud-redis
    entrypoint:
      - /bin/sh
      - -c
      - |
        exec /usr/local/bin/redis-server \
        --port 6379 \
        --requirepass $(cat /run/secrets/redis_password)
    volumes:
      - {{ redis_data_dir }}:/data
    secrets:
      - redis_password
    networks:
      - nextcloud
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 30s
      retries: 3
    restart: always

networks:
  nextcloud:
    driver: bridge
{% if use_traefik|default(false) %}
  proxy:
    external: true
{% endif %}

secrets:
  db_password:
    file: ./secrets/db_password
  redis_password:
    file: ./secrets/redis_password
  nextcloud_admin_user:
    file: ./secrets/nextcloud_admin_user
  nextcloud_password:
    file: ./secrets/nextcloud_password
  collabora_username:
    file: ./secrets/collabora_username
  collabora_password:
    file: ./secrets/collabora_password
  nextcloud_whiteboard_jwt_secret:
    file: ./secrets/nextcloud_whiteboard_jwt_secret