services:
  app:
    container_name: nginx-proxy-manager
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    environment:
      PUID: 1000
      PGID: 1000
    ports:
      - '80:80'
      - '81:81'
      - '443:443'
      - '465:465'
    volumes:
      - /root/nginx-proxy-manager/98-themepark:/etc/cont-init.d/99-themepark
      - /root/nginx-proxy-manager/data:/data
      - /root/nginx-proxy-manager/letsencrypt:/etc/letsencrypt
    networks:
      - nginx_network

networks:
  nginx_network:
    external: true
