# https://developers.cloudflare.com/cloudflare-one/connections/connect-networks/configure-tunnels/local-management/configuration-file/
# https://thedxt.ca/2022/10/cloudflare-tunnel-with-docker/
# https://github.com/aeleos/cloudflared

tunnel: UUID
credentials-file: /home/nonroot/.cloudflared/UUID.json

# NOTE: Fixed tls issues for Nginx Proxy Manager by enabling HTTP/2 and install CF (Cloudflare) origin certificate
# https://github.com/aeleos/cloudflared?tab=readme-ov-file#certificate-not-valid-for-any-names
# https://github.com/NginxProxyManager/nginx-proxy-manager/issues/2696#issuecomment-1529531088
# ingress:
#   - hostname: "*.yourdomain.com"
#     service: https://<PROXY_IP|PROXY_CONTAINER_NAME>:<PORT>
#     originRequest:
#       originServerName: "anysubdomain.yourdomain.com"

ingress:
  - hostname: "mydomain.com"
    service: https://traefik:443
    originRequest:
      originServerName: "mydomain.com"
      noTLSVerify: true

  - hostname: "*.mydomain.com"
    service: https://traefik:443
    originRequest:
      originServerName: "mydomain.com"
      noTLSVerify: true

  - service: http_status:404
