providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  # https://doc.traefik.io/traefik/providers/redis/#provider-configuration
  redis:
    endpoints:
     - "redis:6379"
    password: "password"  
  # NOTE: dynamic configuration
  # https://doc.traefik.io/traefik/providers/file/
  file:
    directory: "/etc/traefik/dynamic/"
    watch: true

# https://doc.traefik.io/traefik/operations/api/
api:
  dashboard: true
  debug: true
  # insecure: true

log:
  level: DEBUG

# https://doc.traefik.io/traefik/observability/access-logs/
accessLog:
  # Enable specific file path to read from another process.
  filePath: "/var/log/traefik/access.log"
  # NOTE: GoAccess only support CLF format for Treafik
  # https://goaccess.io/man#options
  format: common
  bufferingSize: 100
  fields:
    defaultMode: keep
    # https://doc.traefik.io/traefik/v3.2/observability/access-logs/#limiting-the-fieldsincluding-headers
    headers:
      defaultMode: keep
      # names:
      #   User-Agent: keep

# https://doc.traefik.io/traefik/routing/entrypoints/
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443
    transport:
      # https://doc.traefik.io/traefik/routing/entrypoints/#respondingtimeouts
      # NOTE: problem when upload large file with Traefik, set longer timeout
      # https://community.traefik.io/t/traefik-upload-error/23034/5
      respondingTimeouts:
        readTimeout: 300s
        writeTimeout: 300s
        idleTimeout: 300s
  redis:
    address: :6379

certificatesResolvers:
  # https://smallstep.com/docs/tutorials/acme-protocol-acme-clients/#traefik
  # NOTE: enable step ca acme provisioner before start Traefik
  # https://smallstep.com/docs/step-ca/acme-basics/#configure-step-ca-for-acme
  stepca:
    # https://doc.traefik.io/traefik/https/acme/
    acme:
      # NOTE: add step-ca DNS domain when initializing step-ca
      caServer: "https://step-ca:9000/acme/acme/directory"
      email: "test@example.com"
      storage: "/etc/letsencrypt/stepca-acme.json"
      # https://smallstep.com/docs/step-ca/basic-certificate-authority-operations/#adjust-certificate-lifetimes
      certificatesDuration: 24
      # https://doc.traefik.io/traefik/https/acme/#cacertificates
      # NOTE: supported Traefik version >= v3.2
      caCertificates:
        - "/certs/step-ca/root_ca.crt"
      tlsChallenge: {}