providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
  # NOTE: dynamic configuration
  # https://doc.traefik.io/traefik/providers/file/
  file:
    directory: "/etc/traefik/dynamic/"
    watch: true

# https://doc.traefik.io/traefik/operations/api/
api:
  dashboard: true
  debug: true
  # insecure: true

log:
  level: DEBUG

# https://doc.traefik.io/traefik/observability/access-logs/
accessLog:
  # Enable specific file path to read from another process.
  filePath: "/var/log/traefik/access.log"
  # NOTE: GoAccess only support CLF format for Treafik
  # https://goaccess.io/man#options
  format: common
  bufferingSize: 100
  fields:
    defaultMode: keep
    headers:
      defaultMode: drop # drop all headers
      names:
        User-Agent: keep

# https://doc.traefik.io/traefik/routing/entrypoints/
entryPoints:
  web:
    address: :80
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: :443

serversTransport:
  insecureSkipVerify: true

certificatesResolvers:
  # https://smallstep.com/docs/tutorials/acme-protocol-acme-clients/#traefik
  # NOTE: enable step ca acme provisioner before start Traefik
  # https://smallstep.com/docs/step-ca/acme-basics/#configure-step-ca-for-acme
  stepca:
    # https://doc.traefik.io/traefik/https/acme/
    acme:
      # NOTE: add step-ca DNS domain when initializing step-ca
      caServer: "https://step-ca:9000/acme/acme/directory"
      email: "test@example.com"
      storage: "/etc/letsencrypt/stepca-acme.json"
      certificatesDuration: 2160
      # https://doc.traefik.io/traefik/https/acme/#cacertificates
      # NOTE: supported Traefik version >= v3.2
      caCertificates:
        - "/certs/step-ca/root_ca.crt"
      tlsChallenge: {}
